<form role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="alert" ng-click="vm.cancel()">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <h4 class="modal-title">调整课表</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <table>
                <tr ng-repeat="cm in vm.resetModel">
                    <td style="width:60%">{{cm.info}}</td>
                    <td style="width:40%"><mcs-datetimepicker model="cm.reDate" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <mcs-button category="save" click="vm.save()" />
        <mcs-button category="close" click="vm.cancel()" />
    </div>
</form>

