<div class="page-content">
    <!-- #开始：排课计划 -->
    <div class="page-content-area">
        <div class="row">
            <div class="col-xs-12">
                <!-- #开始：排课计划.查询条件 -->
                <div class="mcs-panel-search well well-sm">
                    <form class="form-inline">
                        <ppts-daterangepicker start-date="vm.criteria.startTime" end-date="vm.criteria.endTime" />
                        <ppts-select caption="上课年级" category="grade" model="vm.criteria.grade" class="col-sm-3" />
                        <ppts-select caption="上课科目" category="subject" model="vm.criteria.subject" class="col-sm-3" />
                        <ppts-select caption="课时状态" category="assignStatus" model="" class="col-sm-3" />
                        <mcs-input placeholder="教师姓名" model="vm.criteria.teacherName" />
                        <button class="btn btn-sm btn-success" ng-click="vm.queryList()">
                            <i class="ace-icon fa fa-search"></i>
                            查询
                        </button>
                    </form>
                </div>
                <!-- /结束：排课计划.查询条件 -->
                <!-- #开始：排课计划.工具条 -->
                <div class="mcs-panel-toolbar">
                    <button class="btn btn-sm mcs-width-100 btn-white btn-bold btn-round" ng-click="vm.createSchedule()">新增课表</button>
                    <button class="btn btn-sm mcs-width-100 btn-white btn-bold btn-round" ng-click="vm.cancelCourseClick()" ng-disabled="!vm.data.rowsSelected.length">取消课表</button>
                    <button class="btn btn-sm mcs-width-100 btn-white btn-bold btn-round" ng-click="vm.copyCourseClick()">复制课表</button>
                    <button class="btn btn-sm mcs-width-100 btn-white btn-bold btn-round" ng-disabled="!vm.data.rowsSelected.length" ng-click="vm.resetCourseClick()">调整课表</button>
                    <button class="btn btn-sm mcs-width-100 btn-white btn-bold btn-round" ng-click="vm.gotoCourseWeek()">周视图</button>
                    <!--<button class="btn btn-sm mcs-width-100 btn-white btn-bold btn-round" ng-click="vm.gotoAssignList()">返回</button>-->
                </div>
                <!-- /结束：排课计划.工具条 -->
                <!-- #开始：排课计划.日程表 -->
                <div>
                    <mcs-datatable data="vm.data" />
                </div>
                <!-- /结束：排课计划.日程表 -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
    <!-- /结束：排课计划 -->
</div>