<form class="form-horizontal" role="form" action="#" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="alert" ng-click="vm.cancel()">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <h4 class="modal-title">添加停课休学记录</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <span class="col-sm-4 control-label no-padding-right">新增类型：</span>
            <div class="col-sm-8">
                <ppts-radiobutton-group category="stopAlertType" model="vm.criteria.stopAlertType" required />
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-4 control-label no-padding-right">原因类型：</span>
            <div class="col-sm-7 mcs-padding-0">
                <ppts-select caption="请选择停课休学类型" category="stopAlertReason" model="vm.criteria.stopAlertReason" async="false" required />
            </div>
        </div>
        <div class="form-group" ng-show="vm.criteria.stopAlertReason == 4">
            <span class="col-sm-4 control-label no-padding-right">其他原因：</span>
            <div class="col-sm-8">
                <textarea class="autosize-transition form-control" ng-model="vm.criteria.alertReasonName" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 100px;"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <mcs-button category="ok" click="vm.save()" />
        <mcs-button category="close" click="vm.cancel()" />
    </div>
</form>