<uriSettings>
  <groups>
    <add name="pptsServices">
      <urls>
        <add name="customerQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/CustomerQueryService.svc" />
      </urls>
    </add>
    <add name="pptsWebAPI">
      <urls>
        <add name="componentBaseUrl" uri="/MCSWebApp/MCS.Web.Component/" />
        <add name="customerApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Customers/" />
        <add name="orderApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Orders/" />
        <add name="productApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Products/" />
      </urls>
    </add>
  </groups>
</uriSettings>