<wfServiceDefinitionSettings>
  <addresses>
    <add name="customerWorkflowService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/WorkflowService.svc" requestMethod="Post" contentType="Json" />
  </addresses>
  <operations>
    <add name="thawProcessCancelling" operationName="ThawProcessCancelling" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CustomerID" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="thawProcessCompleting" operationName="ThawProcessCompleting" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CustomerID" type="RuntimeParameter" />
      </parameters>
    </add>
  </operations>
</wfServiceDefinitionSettings>