<div class="portlet light ">
    <div class="portlet-body" id="chats">
        <table class="table-responsive">
            <tr ng-repeat="item in vm.data.rows">
                <td ng-class="{true:'pull-left col-sm-5',false:'pull-right col-sm-5'}[true]" ng-if="item.poster==2">
                    <div ng-class="{true:'itemdiv dialogdiv',false:'itemdiv dialogdiv left'}[true]">
                        <div class="dialogHeader">
                            <span class="dialog-title">
                                发件人:{{item.parentName}}
                            </span>
                            <span class="dialog-title">
                                反馈对象:{{item.replyObject|replyObject}}
                            </span>
                            <span class="dialog-title">
                                {{item.replyTime|date:"yyyy-MM-dd HH:mm"}}
                            </span>
                        </div>

                        <div ng-class="{true:'body dialogArea',false:'body dialogArea left'}[true]">

                            <div class="text">{{item.replyContent}}</div>

                        </div>
                    </div>

                </td>


            </tr>
            <tr ng-repeat="item in vm.data.rows">
                <td ng-class="{true:'pull-left col-sm-5',false:'pull-right col-sm-5'}[false]" ng-if="item.poster==1">
                    <div ng-class="{true:'itemdiv dialogdiv',false:'itemdiv dialogdiv left'}[false]">
                        <div class="dialogHeader">
                            <span class="dialog-title">
                                {{item.replyTime|date:"yyyy-MM-dd HH:mm"}}
                            </span>
                            <span class="dialog-title">
                                反馈类型:{{item.replyType|replyType}}
                            </span>
                            <span class="dialog-title">
                                回复人:{{item.replierName}}
                            </span>
                        </div>

                        <div ng-class="{true:'body dialogArea',false:'body dialogArea left '}[false]">

                            <div class="text">{{item.replyContent}}</div>

                        </div>
                    </div>

                </td>
            </tr>
        </table>
       
    </div>
    <div ng-show="vm.data.pager.totalCount>0" class="ppts-panel-pager well well-sm">
        <span class="bigger-110">{{vm.PagedList.PagedParam.Message}}</span>
        <uib-pagination  boundary-links="true" ng-change="vm.data.pager.pageChange()"
                        total-items="vm.data.pager.totalCount" ng-model="vm.data.pager.pageIndex" class="pagination" max-size="10" items-per-page="vm.data.pager.pageSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

    </div>

</div>

