
<ppts-dynamic-content template="quick-search.tpl.html">
    <div class="row">
        <div class="col-md-6">
            <mcs-daterangepicker start-date="vm.criteria.meetingTimeStart" end-date="vm.criteria.meetingTimeEnd" css="mcs-width-full mcs-padding-0" />
        </div>
        <div class="col-md-6">
            <mcs-select category="replyObject" model="vm.criteria.replyObject" css="mcs-padding-0" />
        </div>
    </div>
</ppts-dynamic-content>

<div class="mcs-panel-toolbar">
    <mcs-button category="add" text="联系家长" click="vm.add()"></mcs-button>
</div>
<div>
    <uib-tabset>
        <uib-tab ng-click="vm.changeTab(tab)" ng-repeat="tab in vm.tabs" active="tab.active" heading="{{tab.title}}">
            <div ng-include="'./app/customer/feedback/feedback-view/feedback-view-tpl.html'">
            </div>
        </uib-tab>
    </uib-tabset>
</div>

