<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wfServiceInvokerSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceInvokerSettings, MCS.Library.WcfExtensions"/>
  </configSections>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016XueDaLocalTestDir%\MCS.ConfigMapping.config"/>
  </appSettings>
  <wfServiceInvokerSettings>
    <connectionMappings>
      <add name="HB2008" destination="HB2008_TEST" />
    </connectionMappings>
  </wfServiceInvokerSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
