<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="wfServiceContractMapSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceContractMapSettings, MCS.Library.WcfExtensions"/>
    <section name="serviceSettings" type="MCS.Library.Services.Configuration.ServiceSettings, MCS.Library"/>
  </configSections>
  <wfServiceContractMapSettings>
    <maps>
      <add serviceName="PPTS.Services.Common.Services.SMSService" contractName="PPTS.Services.Common.Services.ISMSService" debug="true" atlasEnabled="true"/>
    </maps>
  </wfServiceContractMapSettings>
  <serviceSettings>
    <methodDefaultSettings name="defaultSettings" cacheEnabled="false" enableLogging="true"/>
    <services>
      <!--<add name="ICustomerQueryService">
        <methods>
          -->
      <!--<add name="GetObjectsDetail" cacheEnabled="true" />-->
      <!--
        </methods>
      </add>-->
    </services>
  </serviceSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--允许发送的短信关键字-->
    <add key="keywords.allow" value="密码,邀请码,验证码"/>
    <!--不允许发送的短信关键字-->
    <add key="keywords.deny" value="学生,家长"/>
    <!--供应商目前可选值为 et2008|emay|smscat|cloopen-->
    <!--非广告通道的供应商-->
    <add key="Provider.SendSMS" value="et2008"/>
    <!--广告通道的供应商-->
    <add key="Provider.SendSMSWithAd" value="et2008"/>
    <!--非广告通道定时短信供应商，请不要配置为smscat，因为代码未实现定时功能-->
    <add key="Provider.SendScheduleSMS" value="et2008"/>
    <!--通道提供商et2008的软件序列号-->
    <add key="et2008.Serial" value="3c261d45-0a21-48f4-aac8-5605b4d20d9a"/>
    <!--通道供应商et2008的通讯密钥-->
    <add key="et2008.Password" value="cn697s25"/>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>

  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
</configuration>