<!--班组 开始-->
<form class="form-horizontal" >
    <div class="widget-box">
        <div class="widget-header">
            <h4>{{tag}}班组产品
                <small>
                    <i class="icon-double-angle-right"></i>
                    (<span class="required"> * </span>表示必填字段)
                </small>
            </h4>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <div class="clearfix form-actions mcs-form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn mcs-width-130 ng-isolate-scope btn-success" ng-click="click()" type="save" click="vm.save()"><i class="ace-icon fa fa-save"></i><span>保 存</span></button>
                        <button class="btn mcs-width-130 ng-isolate-scope btn-success" ng-click="click()" type="save" click="vm.save()"><i class="ace-icon fa fa-save"></i><span>提 交</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <span>基础信息</span>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="产品名称：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="产品名称" model="vm.product.classgroup.productname" css="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="col-sm-6">
                <mcs-label required="true" text="课程季节：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="课程季节" model="vm.product.classgroup.courseseaon" css="col-xs-10 col-sm-10" />
                </div>
            </div>
        </div>

        <div class="space-4"></div>
        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="课程年份：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="课程年份" model="vm.product.classgroup.courseyear" css="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="col-sm-6">
                <mcs-label required="true" text="年级：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="课程年份" model="vm.product.classgroup.grade" css="col-xs-10 col-sm-10" />
                </div>
            </div>
        </div>

        <div class="space-4"></div>
        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="科目：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="科目" model="vm.product.classgroup.subject" css="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="col-sm-6">
                <mcs-label required="true" text="产品简介：" css="col-sm-3" />
                <div class="col-sm-9">
                    <textarea placeholder="产品简介" model="vm.product.classgroup.description" ></textarea>
                </div>
            </div>
        </div>

        <div class="space-4"></div>
        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="产品颗粒度：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="科目" model="vm.product.classgroup.granularity" css="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="col-sm-6">
                <mcs-label required="true" text="总课次：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="总课次" model="vm.product.classgroup.totalcoursecount" css="col-xs-10 col-sm-10" />
                </div>
            </div>
        </div>

        <div class="space-4"></div>
        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="总金额：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="总金额" model="vm.product.classgroup.totalamonut" css="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="col-sm-6">
                <mcs-label required="true" text="每课次时长：" css="col-sm-3" />
                <div class="col-sm-9">
                    <ui-select ng-model="vm.product.classgroup.selectedDuation" theme="selectize" class="col-xs-10 col-sm-10">
                    <ui-select-match placeholder="时长">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="x in vm.dictionaries.durations | props: {value: $select.search} ">
                    <span ng-bind-html="x.value | highlight: $select.search "></span>
                    </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>


        <div class="space-4"></div>
        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="实际课时：" css="col-sm-3" />
                <div class="col-sm-9">
                    <ui-select ng-model="vm.product.classgroup.selectedActualDuation" theme="selectize" class="col-xs-10 col-sm-10">
                    <ui-select-match placeholder="实际课时">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="x in vm.dictionaries.durations | props: {value: $select.search} ">
                    <span ng-bind-html="x.value | highlight: $select.search "></span>
                    </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-sm-6">
                <mcs-label required="true" text="本课次共计课时数：" css="col-sm-3" />
                <div class="col-sm-9">
                    <ui-select ng-model="vm.product.classgroup.selectedTotalCourseCount" theme="selectize" class="col-xs-10 col-sm-10">
                    <ui-select-match placeholder="课时数">{{$select.selected.value}}</ui-select-match>
                    <ui-select-choices repeat="x in vm.dictionaries.durations | props: {value: $select.search} ">
                    <span ng-bind-html="x.value | highlight: $select.search "></span>
                    </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>


        <div class="space-4"></div>
        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="满班人数：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="满班人数" model="vm.product.classgroup.totalfullcount" css="col-xs-10 col-sm-10" />
                </div>
            </div>
            <div class="col-sm-6">
                <mcs-label required="true" text="产品启售时间：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="满班人数" model="vm.product.classgroup.beginselltime" css="col-xs-10 col-sm-10" />
                </div>
            </div>
        </div>

        <div class="space-4"></div>
        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="产品止售时间：" css="col-sm-3" />
                <div class="col-sm-9">
                    <!--
                    <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.product.classgroup.endselltime" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                    -->
                </div>
            </div>

        </div>


        <div class="space-4"></div>
        <div class="page-header">
            <span>销售范围</span>
        </div>

        <div class="form-group">
            <div class="col-sm-6">
                <mcs-label required="true" text="销售分公司：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="总金额" model="vm.product.classgroup.company" css="col-xs-10 col-sm-10" />
                </div>
            </div>

            <div class="col-sm-6">
                <mcs-label required="true" text="销售校区：" css="col-sm-3" />
                <div class="col-sm-9">
                    <mcs-input placeholder="销售校区" model="vm.product.classgroup.campus" css="col-xs-10 col-sm-10" />
                </div>
            </div>
        </div>


        <div class="space-4"></div>
        <div class="page-header">
            <span>销售范围</span>
        </div>

        <div class="form-group">

            <div class="col-sm-6">
                <mcs-label required="true" text="是否遵循客户折扣级别：" css="col-sm-3" />
                <div class="col-sm-9">
                    <div class="radio">
                        <mcs-radiobutton-group category="selectedCustomerDiscountLevel" data="vm.dictionaries.customerdiscountlevel" click="vm.select(category, key, eventargs)" defaultValue="G1" />
                    </div>
                </div>
            </div>
        </div>
        <div class="space-4"></div>

    </div>
</form>
<!--班组 结束-->

