
                <!--其他 开始-->

                <div class="widget-box">
                    <div class="widget-header">
                        <h4>
                            {{tag}}{{title}}产品
                            <small>
                                <i class="icon-double-angle-right"></i>
                                (<span class="required"> * </span>表示必填字段)
                            </small>
                        </h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <div class="clearfix form-actions mcs-form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <mcs-button type="save" click="vm.submit()" text="提交审批"></mcs-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-header">
                        <span>基础信息</span>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="分类：" css="col-sm-3" />
                            <div class="col-sm-6">
                                <ppts-select category="categoryCustom" model="vm.m[loadtype].product.catalog" caption="产品分类" />
                            </div>
                        </div>
                        <br />
                        <div ng-bind-html="description"></div>
                    </div>
                    <div class="space-4"></div>

                    <!-- 合作 -->

                    <div class="form-group" ng-show="vm.isPartner()">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="分账比例：" css="col-sm-3" />
                            <div class="col-sm-9">
                                合作方：<mcs-input model="vm.m[loadtype].product.partnerName" css="col-xs-10 col-sm-10" />
                                分成比例：<mcs-input type="number" min="0" model="vm.m[loadtype].product.partnerRatio" css="col-xs-10 col-sm-10" />
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <!-- 合作 -->




                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="产品简介：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" id="textArea" ng-model="vm.m[loadtype].product.productMemo"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="产品单价：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <mcs-input type="number" min="0" model="vm.m[loadtype].product.productPrice" css="col-xs-10 col-sm-10" />
                                元/课时
                            </div>
                            <br />
                            备注：
                            <br />
                            -产品单价：产品的基本价格
                            <br />
                            -目标单价：完成预算任务的平均订购单价
                            <br />
                            以上的价格也会用于数据分析，请正确填写
                        </div>
                        <div class="col-sm-6">
                            <mcs-label required="true" text="目标单价：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <mcs-input type="number" min="0" model="vm.m[loadtype].product.targetPrice" css="col-xs-10 col-sm-10" />
                                元/课时
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="颗粒度：" css="col-sm-3" />
                            <div class="col-sm-9">
                                {{vm.m[loadtype].productUnit | unit }}
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="研发机构：" css="col-sm-3" />
                            <div class="col-sm-9">
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="page-header">
                        <span>销售信息</span>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="销售范围：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <mcs-input placeholder="销售分公司" model="vm.m[loadtype].company" css="col-xs-10 col-sm-10" />
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="产品启售时间：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="vm.m[loadtype].product.startDate" is-open="vm.popup1.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <mcs-label required="true" text="产品止售时间：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="vm.m[loadtype].product.endDate" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.open2()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="创建人：" css="col-sm-3" />
                            <div class="col-sm-9">
                                xxx
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="收入确认开始时间：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="vm.m[loadtype].product.confirmStartDate" is-open="vm.popup3.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.open3()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <mcs-label required="true" text="收入确认结束时间：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="vm.m[loadtype].product.confirmEndDate" is-open="vm.popup4.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.open4()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="page-header">
                        <span>折扣信息</span>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <mcs-label required="true" text="是否享受客户折扣：" css="col-sm-3" />
                            <div class="col-sm-9">
                                <input type="checkbox" ng-model="vm.m[loadtype].product.tunlandAllowed" />
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>



                </div>

                <!--其他 结束-->
