<div class="row">
    <div class="col-sm-4">
        <h4 class="header smaller lighter green">
            <i class="ace-icon fa fa-th-large"></i>
            个人业绩指标
        </h4>
        <div class="row">
            <div class="col-sm-12">
                <p class="alert alert-success col-sm-6" style="margin-bottom:0px;">
                    <i class="ace-icon fa fa-tasks"></i> 业绩指标
                </p>
                <p class="alert alert-success col-sm-6" style="margin-bottom:0px;">
                    <i class="ace-icon fa fa-plus"></i> 当月累计
                </p>
                <table class="table table-facet">
                    <tr>
                        <td width="50%">前期充值金额（元）</td>
                        <td>
                            <b class="red">56000</b>元
                        </td>
                    </tr>
                    <tr>
                        <td>新签人数（人）</td>
                        <td>
                            <b class="red">20</b>人
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <div class="alert alert-block alert-success" style="padding-bottom:0">
                    <p>
                        <strong>
                            <i class="ace-icon fa fa-gears"></i>
                            热点客户
                        </strong>
                    </p>
                    <table class="table table-facet">
                        <tr>
                            <td width="50%">今天需要回访的人数：<b class="red">8</b>人</td>
                            <td>本周需要回访的人数：<b class="red">10</b>人</td>
                        </tr>
                        <tr>
                            <td>今天预计上门的人数：<b class="red">5</b>人</td>
                            <td>本周预计上门的人数：<b class="red">4</b>人</td>
                        </tr>
                        <tr>
                            <td>今天预计签约的人数：<b class="red">12</b>人</td>
                            <td>本周预计签约的人数：<b class="red">6</b>人</td>
                        </tr>
                    </table>
                </div>
                <div class="alert alert-block alert-success" style="padding-bottom:0">
                    <p>
                        <strong>
                            <i class="ace-icon fa fa-gears"></i>
                            （动态）新签任务完成情况（已完成<b class="red">50%</b>）
                        </strong>
                    </p>
                    <table class="table table-facet">
                        <tr>
                            <td width="50%">本月新签任务数：<b class="red">10000</b>元</td>
                            <td>本月新签已收金额：<b class="red">10</b>元</td>
                        </tr>
                    </table>
                </div>
                <div class="alert alert-block alert-success" style="padding-bottom:0">
                    <p>
                        <strong>
                            <i class="ace-icon fa fa-gears"></i>
                            （动态）新签人数完成情况（已完成<b class="red">50%</b>）
                        </strong>
                    </p>
                    <table class="table table-facet">
                        <tr>
                            <td width="50%">本月招生人数任务：<b class="red">20</b>人</td>
                            <td>本月已招生人数：<b class="red">15</b>人</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="alert alert-block alert-success">
                    <p>
                        <i class="ace-icon fa fa-gears"></i>
                        本月截止到目前未回访的资源量：<b class="red">20</b>人
                    </p>
                    <p>

                        <i class="ace-icon fa fa-gears"></i>
                        本月截止到目前未上门的资源量：<b class="red">15</b>人
                    </p>
                    <p>
                        <i class="ace-icon fa fa-gears"></i>
                        本月截止到目前未签约的资源量：<b class="red">10</b>人
                    </p>
                </div>
                <div class="alert alert-block alert-success">
                    <p>
                        <i class="ace-icon fa fa-gears"></i>
                        本月上门率：<b class="red">50%</b>
                    </p>
                    <p>
                        <i class="ace-icon fa fa-gears"></i>
                        本月签约率：<b class="red">20%</b>
                    </p>
                    <p>
                        <i class="ace-icon fa fa-gears"></i>
                        本月转化率：<b class="red">10%</b>
                    </p>
                </div>
                <div class="alert alert-block alert-success">
                    <p>
                        <i class="ace-icon fa fa-gears"></i>
                        本月新增资源人数：<b class="red">20</b>人
                    </p>
                    <p>
                        <i class="ace-icon fa fa-gears"></i>
                        本月实际回访人数：<b class="red">15</b>人
                    </p>
                    <p>
                        <i class="ace-icon fa fa-gears"></i>
                        本月实际上门人数：<b class="red">10</b>人
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h4 class="row header smaller lighter blue">
            <span class="col-sm-6">
                <i class="ace-icon fa fa-trophy"></i>
                排行榜
            </span>
            <span class="col-sm-6">
                <span class="pull-right inline">
                    <span class="btn-toolbar inline middle no-margin">
                        <span id="accordion-style" data-toggle="buttons" class="btn-group no-margin">
                            <label class="btn btn-xs btn-yellow active" style="margin:0;padding:0;border:0">
                                <input type="radio" value="1">
                                新签实收
                            </label>
                            <label class="btn btn-xs btn-yellow" style="margin:0;padding:0;border:0;margin-left:2px;">
                                <input type="radio" value="2">
                                新签人数
                            </label>
                        </span>
                    </span>
                </span>
            </span>
        </h4>
        <div class="row">
            <div class="col-sm-12 mcs-padding-0">
                <p ng-repeat="rank in vm.ranks" class="alert alert-success" ng-class="{'alert-danger':rank.active}" style="margin-bottom:0px;cursor:pointer;" ng-click="vm.switchRank(this)">
                    <i class="ace-icon fa fa-list-ol"></i> {{rank.text}}
                </p>
                <table class="table table-facet">
                    <tr>
                        <td width="30%"><i class="ace-icon fa fa-star"></i> 我的排名：</td>
                        <td>校区第<b class="red">5</b>名</td>
                        <td>分公司第<b class="red">24</b>名</td>
                        <td>全国第<b class="red">150</b>名</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12 mcs-padding-0">
                <table class="table table-facet">
                    <tr>
                        <td><span class="badge badge-danger">1</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">1</b>名</td>
                        <td width="50%"><div class="progress" data-percent="80%" style="margin-bottom:0px;"><div class="progress-bar" style="width:80%;"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-danger">2</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">2</b>名</td>
                        <td width="50%"><div class="progress" data-percent="75%" style="margin-bottom:0px;"><div class="progress-bar" style="width:75%;"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-danger">3</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">3</b>名</td>
                        <td width="50%">
                            <div class="progress" style="margin-bottom:0px;">
                                <div class="progress-bar progress-bar-success" style="width: 25%;"></div>
                                <div class="progress-bar progress-bar-warning" style="width: 20%;"></div>
                                <div class="progress-bar progress-bar-danger" style="width: 10%;"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-gray">4</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">4</b>名</td>
                        <td width="50%"><div class="progress" data-percent="50%" style="margin-bottom:0px;"><div class="progress-bar" style="width:50%;"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-gray">5</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">5</b>名</td>
                        <td width="50%"><div class="progress" data-percent="45%" style="margin-bottom:0px;"><div class="progress-bar" style="width:45%;"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-gray">6</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">6</b>名</td>
                        <td width="50%"><div class="progress" data-percent="45%" style="margin-bottom:0px;"><div class="progress-bar" style="width:45%;"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-gray">7</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">7</b>名</td>
                        <td width="50%"><div class="progress" data-percent="45%" style="margin-bottom:0px;"><div class="progress-bar" style="width:45%;"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-gray">8</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">8</b>名</td>
                        <td width="50%"><div class="progress" data-percent="45%" style="margin-bottom:0px;"><div class="progress-bar" style="width:45%;"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-gray">9</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">9</b>名</td>
                        <td width="50%"><div class="progress" data-percent="45%" style="margin-bottom:0px;"><div class="progress-bar" style="width:45%;"></div></div></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-gray">10</span></td>
                        <td>胡发英</td>
                        <td>第<b class="red">10</b>名</td>
                        <td width="50%"><div class="progress" data-percent="45%" style="margin-bottom:0px;"><div class="progress-bar" style="width:45%;"></div></div></td>
                    </tr>
                </table>
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>

                    <li>
                        <a href="#">4</a>
                    </li>

                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h4 class="header smaller lighter red">
            <i class="ace-icon fa fa-flag"></i>
            新签战报
        </h4>
        <div id="new-dispatches" style="height: 300px; overflow-y: auto; overflow-x: hidden;">
            <div class="alert alert-block alert-success" style="margin-bottom:0">
                <p>
                    <i class="ace-icon fa fa-trophy"></i>
                    全国本月新签金额前<b class="red">3</b>名校区
                </p>
            </div>
            <table class="table table-facet" style="margin-bottom:0">
                <tr>
                    <td width="30%">第<b class="red">1</b>名</td>
                    <td>北京分公司朝阳校区</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">2</b>名</td>
                    <td>北京分公司方庄校区</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">3</b>名</td>
                    <td>北京分公司亦庄校区</td>
                </tr>
            </table>
            <div class="alert alert-block alert-success" style="margin-bottom:0">
                <p>
                    <i class="ace-icon fa fa-trophy"></i>
                    全国本月新签金额前<b class="red">3</b>名分公司
                </p>
            </div>
            <table class="table table-facet" style="margin-bottom:0">
                <tr>
                    <td width="30%">第<b class="red">1</b>名</td>
                    <td>北京分公司</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">2</b>名</td>
                    <td>天津分公司</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">3</b>名</td>
                    <td>成都分公司</td>
                </tr>
            </table>
            <div class="alert alert-block alert-success" style="margin-bottom:0">
                <p>
                    <i class="ace-icon fa fa-trophy"></i>
                    本分公司本月新签金额前<b class="red">3</b>名员工
                </p>
            </div>
            <table class="table table-facet" style="margin-bottom:0">
                <tr>
                    <td width="30%">第<b class="red">1</b>名</td>
                    <td>沈总</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">2</b>名</td>
                    <td>Miracle</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">3</b>名</td>
                    <td>张总</td>
                </tr>
            </table>
        </div>
        <h4 class="header smaller lighter red">
            <i class="ace-icon fa fa-flag"></i>
            续费战报
        </h4>
        <div id="renew-dispatches" style="height: 300px; overflow-y: auto; overflow-x: hidden;">
            <div class="alert alert-block alert-success" style="margin-bottom:0">
                <p>
                    <i class="ace-icon fa fa-trophy"></i>
                    全国本月新签金额前<b class="red">3</b>名校区
                </p>
            </div>
            <table class="table table-facet" style="margin-bottom:0">
                <tr>
                    <td width="30%">第<b class="red">1</b>名</td>
                    <td>北京分公司朝阳校区</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">2</b>名</td>
                    <td>北京分公司方庄校区</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">3</b>名</td>
                    <td>北京分公司亦庄校区</td>
                </tr>
            </table>
            <div class="alert alert-block alert-success" style="margin-bottom:0">
                <p>
                    <i class="ace-icon fa fa-trophy"></i>
                    全国本月新签金额前<b class="red">3</b>名分公司
                </p>
            </div>
            <table class="table table-facet" style="margin-bottom:0">
                <tr>
                    <td width="30%">第<b class="red">1</b>名</td>
                    <td>北京分公司</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">2</b>名</td>
                    <td>天津分公司</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">3</b>名</td>
                    <td>成都分公司</td>
                </tr>
            </table>
            <div class="alert alert-block alert-success" style="margin-bottom:0">
                <p>
                    <i class="ace-icon fa fa-trophy"></i>
                    本分公司本月新签金额前<b class="red">3</b>名员工
                </p>
            </div>
            <table class="table table-facet" style="margin-bottom:0">
                <tr>
                    <td width="30%">第<b class="red">1</b>名</td>
                    <td>沈总</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">2</b>名</td>
                    <td>Miracle</td>
                </tr>
                <tr>
                    <td width="30%">第<b class="red">3</b>名</td>
                    <td>张总</td>
                </tr>
            </table>
        </div>
        <h4 class="header smaller lighter purple">
            <i class="ace-icon fa fa-file-archive-o"></i>
            版本历史
        </h4>
    </div>
</div>