<script>
    try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
</script>
<!-- #开始：网站主体内容区域.左侧区域.顶部快捷按钮 -->
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <i class="ace-icon fa fa-signal"></i>
        </button>
        <button class="btn btn-info">
            <i class="ace-icon fa fa-pencil"></i>
        </button>
        <button class="btn btn-warning">
            <i class="ace-icon fa fa-users"></i>
        </button>
        <button class="btn btn-danger">
            <i class="ace-icon fa fa-cogs"></i>
        </button>
    </div>
    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>
        <span class="btn btn-info"></span>
        <span class="btn btn-warning"></span>
        <span class="btn btn-danger"></span>
    </div>
</div>
<!-- /结束：网站主体内容区域.左侧区域.顶部快捷按钮 -->
<!-- #开始：网站主体内容区域.左侧区域.主菜单 -->
<ul class="nav nav-list ppts-sidebar-menu">
    <li ng-repeat="menu in vm.sidebarMenus" ui-sref-active="{{ menu.active ? 'active' : '' }}" class="hsub" ppts-functions="{{ menu.permission }}">
        <a ui-sref="{{ menu.route }}" ng-class="{'dropdown-toggle':menu.children && menu.children.length}">
            <i class="menu-icon fa fa-{{ menu.icon }}"></i>
            <span class="menu-text">{{ menu.name}} </span>
            <b class="arrow fa fa-angle-down" ng-if="menu.children && menu.children.length"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu" ng-if="menu.children && menu.children.length">
            <li ng-repeat="subMenu in menu.children" ng-class="{'active':$state.includes('{{subMenu.route}}')}" ppts-functions="{{ subMenu.permission }}">
                <a ui-sref="{{ subMenu.route }}">
                    <i class="menu-icon fa fa-caret-right"></i>{{subMenu.name}}
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul>
<!-- /结束：网站主体内容区域.左侧区域.主菜单 -->
<!-- #开始：网站主体内容区域.左侧区域.最小化左侧区域按钮 -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse" ng-click="vm.toggle()">
    <i class="ace-icon fa fa-angle-double-{{vm.hideSidebar?'right':'left'}}" uib-popover="{{vm.hideSidebar?'展开':'收起'}}" popover-trigger="mouseenter"></i>
</div>
<!-- /结束：网站主体内容区域.左侧区域.最小化左侧区域按钮 -->
<script>
    window.addEventListener('message', function (event) {
        if (event.data == 'hide sidebar') {
            document.getElementById('sidebar').style.display = 'none';
            document.getElementById('mainContent').style.marginLeft = '0px';
            document.getElementById('breadcrumbs').style.left = "0px";
            document.getElementById('home').style.display = 'none';
        }
    });

    if (window.parent) {
        window.parent.postMessage('ready', '*');
    }

    try {
        ace.settings.check('sidebar', 'collapsed');
    } catch (e) { }
</script>