<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wfServiceContractMapSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceContractMapSettings, MCS.Library.WcfExtensions"/>
    <section name="serviceSettings" type="MCS.Library.Services.Configuration.ServiceSettings, MCS.Library"/>
  </configSections>
  <wfServiceContractMapSettings>
    <maps>
      <add serviceName="PPTS.Services.Search.Services.CustomerSearchUpdateService" contractName="PPTS.Contracts.Search.Operations.ICustomerSearchUpdateService" debug="true" atlasEnabled="true"/>
    </maps>
  </wfServiceContractMapSettings>
  <serviceSettings>
    <methodDefaultSettings name="defaultSettings" cacheEnabled="false" enableLogging="true"/>
    <services>
      <!--<add name="ICustomerQueryService">
        <methods>
          -->
      <!--<add name="GetObjectsDetail" cacheEnabled="true" />-->
      <!--
        </methods>
      </add>-->
    </services>
  </serviceSettings>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
