<!-- #开始：潜客列表.高级查询条件 -->
<div id="accordion" class="accordion-style1 panel-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#advance-search">
                    <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="fa-angle-down" data-icon-show="fa-angle-right"></i>
                    &nbsp;高级查询
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse mcs-advance-search" id="advance-search">
            <div class="panel-body">
                <div class="profile-user-info mcs-user-profile">
                    <div class="profile-info-row" ng-repeat="item in vm.searchItems">
                        <div class="profile-info-name">{{item.name}}</div>
                        <div class="profile-info-value" ppts-compile-html="item.template | trusted"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /结束：潜客列表.高级查询条件 -->
<!-- #开始：潜客列表.快速查询条件 -->
<div class="mcs-panel-search well well-sm">
    <div class="portlet">
        <div class="portlet-title line">
            <div class="caption">
                <label class="quick-search"><i class="ace-icon fa fa-search bigger-125"></i> 快速查询</label>
            </div>
        </div>
        <div class="portlet-body">
            <div class="input-group input-xlarge mcs-input-group pull-left">
                <mcs-input placeholder="选择大区/分公司/校区" model="" readonly="true" css="form-control mcs-input-search" />
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-info" type="button" ng-click="vm.select()">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        选择
                    </button>
                </span>
            </div>
            <ppts-search placeholder="输入学员、家长姓名，学员编号，联系方式进行查询" click="vm.search()" model="vm.criteria.keyword" />
        </div>
    </div>
    <div class="tags mcs-search-tags hide">
        <label class="quick-search"><i class="ace-icon fa fa-filter bigger-125"></i> 查询条件</label>
        <span class="tag" uib-tooltip="入学年级: 小学一年级、小学二年级、小学三年级">入学年级: 小学一年级、小学二年级...<button type="button" class="close">×</button></span>
    </div>
</div>
<!-- /结束：潜客列表.快速查询条件 -->
<!-- #开始：潜客列表.工具栏 -->
<div class="mcs-panel-toolbar">
    <mcs-button icon="mail-forward" css="btn-yellow" text="划转资源" ppts-job-functions="划转资源"></mcs-button>
    <mcs-button icon="user" css="btn-success" text="分配市场专员" ppts-job-functions="分配市场专员" click="vm.assign(vm.relationType.market)"></mcs-button>
</div>
<div class="alert alert-block alert-danger" ng-show="vm.errorMessage">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    <i class="ace-icon fa fa-warning"></i>
    {{vm.errorMessage}}
</div>
<!-- /结束：潜客列表.工具栏 -->
<!-- #开始：潜客列表.数据表格 -->
<mcs-datatable data="vm.data" />
<!-- /结束：潜客列表.数据表格 -->