<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="timeZoneContextSettings" type="MCS.Library.Configuration.TimeZoneContextSettings, MCS.Library"/>
    <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
  </configSections>
  <timeZoneContextSettings enabled="true" timeOffset="08:00:00" timePointKind="Utc" />
  <connectionManager>
    <connectionStrings>
      <add name="DataAccessTest" connectionString="server=MCSFramework;database=DataAccessTest;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
      <!--<add name="DataAccessTest" connectionString="server=vdbdgeymmg.database.chinacloudapi.cn;database=DataAccessTest;User ID=zhshen;Password=Hb2008Hb2008" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase, MCS.Library.Data.ODP"/>
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase, MCS.Library.Data"/>
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase, MCS.Library.Data"/>
    </dataProviders>
  </connectionManager>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
