<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold"><i class="ace-icon fa fa-plus"></i>  新增跟进记录</span>
            <span class="caption-helper">(<span class="required"> * </span>表示必填字段)</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" action="#" role="form" novalidate>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <mcs-button category="save" click="vm.save()"></mcs-button>
                        <mcs-button category="cancel" text="返回" click="vm.cancel()"></mcs-button>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <h4 class="form-section"><i class="ace-icon fa fa-th"></i> 跟进记录信息</h4>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="跟进方式" css="col-sm-3" />
                        <div class="col-sm-6">
                            <mcs-select category="followType" model="vm.follow.followType" css="col-sm-6 mcs-padding-0" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="跟进对象" css="col-sm-3" />
                        <div class="col-sm-6">
                            <mcs-select category="followObject" model="vm.follow.followObject" css="col-sm-6 mcs-padding-0" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="想要补习的科目" css="col-sm-3" />
                        <div class="col-sm-6 mcs-padding-5">
                            <ppts-checkbox-group category="subject" model="vm.follow.subjects" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="购买意愿" css="col-sm-3" />
                        <div class="col-sm-6">
                            <ppts-radiobutton-group category="purchaseIntention" model="vm.follow.purchaseIntention" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="客户级别" css="col-sm-3" />
                        <div class="col-sm-6">
                            <ppts-radiobutton-group category="customerLevel" model="vm.follow.customerLevel" value="vm.customerLevelValue" required />
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="vm.follow.customerLevel">
                    <div class="form-group horizontal">
                        <mcs-label text="沟通结果" css="col-sm-3" />
                        <div class="col-sm-6">
                            <p class="form-control-static">
                                {{vm.talkResult}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="vm.follow.customerLevel == 11">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="无效理由" css="col-sm-3" />
                        <div class="col-sm-6">
                            <ppts-radiobutton-group category="invalidReason" model="vm.follow.invalidReason" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label text="跟进前阶段" css="col-sm-3" />
                        <div class="col-sm-6">
                            <p class="form-control-static">{{ vm.previousFollowStage | followStage }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="本次跟进阶段" css="col-sm-3" />
                        <div class="col-sm-6">
                            <mcs-select category="followStage" model="vm.follow.followStage" css="col-sm-6 mcs-padding-0" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="预计上门时间" css="col-sm-3" />
                        <div class="col-sm-6">
                            <mcs-datepicker placeholder="预计上门时间" model="vm.follow.planVerifyTime" css="col-sm-6" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="预计下次沟通时间" css="col-sm-3" />
                        <div class="col-sm-6">
                            <mcs-datepicker placeholder="预计下次沟通时间" model="vm.follow.nextFollowTime" css="col-sm-6" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="预计签约时间" css="col-sm-3" />
                        <div class="col-sm-6">
                            <mcs-datepicker placeholder="预计签约时间" model="vm.follow.planSignDate" css="col-sm-6" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label text="此次通电号码" css="col-sm-3" />
                        <div class="col-sm-6">
                            <mcs-input model="vm.follow.followPhone" css="col-sm-6" phone />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label required="true" text="是否在其他机构辅导" css="col-sm-3" />
                        <div class="col-sm-5">
                            <ppts-radiobutton-group category="ifElse" model="vm.follow.isStudyThere" />
                        </div>
                        <div class="col-sm-4 pull-right">
                            <a class="btn btn-link mcs-margin-left-40" ng-click="vm.addRow()" ng-show="vm.follow.isStudyThere==1" uib-popover="新增其他辅导机构" popover-trigger="mouseenter"><i class="ace-icon fa fa-plus bigger-110"></i></a>
                            <a class="btn btn-link" ng-click="vm.removeRow()" ng-show="vm.follow.isStudyThere==1" uib-popover="移除其他辅导机构" popover-trigger="mouseenter"><i class="ace-icon fa fa-minus bigger-110"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal" ng-show="vm.follow.isStudyThere==1">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <mcs-uicopy data="vm.followItems" item-template-url="./app/customer/follow/follow-add/is-study-there.tpl.html"></mcs-uicopy>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group horizontal">
                        <mcs-label text="跟进情况备注" css="col-sm-3" />
                        <div class="col-sm-6">
                            <textarea rows="7" class="form-control" placeholder="预案相关内容(家长对配套服务的关注、抗拒点、危机塑造思路、课时方案、预计合同总金额 孩子的性格，爱好，家庭教育情况等信息 目标学校、目前空余时间段 丢单的详细情况描述)" ng-model="vm.follow.followMemo">{{ vm.criteria.followMemo }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>