 <!-- #开始：跟进列表.高级查询条件 -->
<div id="accordion" class="accordion-style1 panel-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#advance-search">
                    <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="fa-angle-down" data-icon-show="fa-angle-right"></i>
                    &nbsp;高级查询
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse mcs-advance-search" id="advance-search">
            <div class="panel-body">
                <div class="profile-user-info mcs-user-profile follow-list">
                    <div class="profile-info-row">
                        <div class="profile-info-name">记录人：</div>
                        <div class="profile-info-value">
                            <ppts-checkbox-group category="people" model="vm.criteria.followerJobs" clear="vm.criteria.followerJobs=[]" />
                            <mcs-input placeholder="记录人姓名" model="vm.criteria.followerName" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">建档人：</div>
                        <div class="profile-info-value">
                            <ppts-checkbox-group category="people" model="vm.criteria.creatorJobs" clear="vm.criteria.creatorJobs=[]" />
                            <mcs-input placeholder="建档人姓名" model="vm.criteria.creatorName" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">跟进阶段：</div>
                        <div class="profile-info-value">
                            <ppts-checkbox-group category="followStage" model="vm.criteria.followStages" clear="vm.criteria.followStages=[]" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">购买意愿：</div>
                        <div class="profile-info-value">
                            <ppts-checkbox-group category="purchaseIntension" model="vm.criteria.purchaseIntensions" clear="vm.criteria.purchaseIntensions=[]" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">客户级别：</div>
                        <div class="profile-info-value">
                            <ppts-checkbox-group category="customerLevel" model="vm.criteria.customerLevels" clear="vm.criteria.customerLevels=[]" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">跟进方式：</div>
                        <div class="profile-info-value">
                            <ppts-checkbox-group category="followType" model="vm.criteria.followTypes" clear="vm.criteria.followTypes=[]" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">跟进时间：</div>
                        <div class="profile-info-value">
                            <ppts-radiobutton-group category="dateRange" model="vm.followTimeValue" />
                            <!--<div ng-show="vm.followTimeValue == 5" style="display:inline;">
                                <input type="date" ng-model="vm.criteria.followStartTime" /> 到 
                                <input type="date" ng-model="vm.criteria.followEndTime" />
                            </div>-->
                            <!--<div class="input-daterange input-group mcs-input-group input-xxlarge large">
                                <input class="form-control date-picker" name="start" type="text" data-date-format="dd-mm-yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                                <span class="input-group-addon">
                                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                </span>
                                <input class="form-control date-picker" name="end" type="text" data-date-format="dd-mm-yyyy">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>-->
                            <!--<div class="input-group mcs-input-group input-xlarge">
                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>-->
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">下次沟通时间：</div>
                        <div class="profile-info-value">
                            <ppts-radiobutton-group category="dateRange" model="vm.nextTalkTimeValue" />
                            <div ng-show="vm.nextTalkTimeValue == 5" style="display:inline;">
                                <input type="date" ng-model="vm.criteria.nextTalkStartTime" /> 到
                                <input type="date" ng-model="vm.criteria.nextTalkEndTime" />
                            </div>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">是否在其它机构辅导：</div>
                        <div class="profile-info-value">
                            <ppts-radiobutton-group category="ifElse" model="vm.criteria.isStudyThere" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">预计签约时间：</div>
                        <div class="profile-info-value">
                            <ppts-radiobutton-group category="dateRange" model="vm.planSignDateValue" />
                            <div ng-show="vm.planSignDateValue == 5" style="display:inline;">
                                <input type="date" ng-model="vm.criteria.planSignStartTime" /> 到
                                <input type="date" ng-model="vm.criteria.planSignEndTime" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /结束：潜客列表.高级查询条件 -->
<!-- #开始：潜客列表.快速查询条件 -->
<div class="mcs-panel-search well well-sm">
    <div class="portlet">
        <div class="portlet-title line">
            <div class="caption">
                <label class="quick-search"><i class="ace-icon fa fa-search bigger-125"></i> 快速查询</label>
            </div>
        </div>
        <div class="portlet-body">
            <mcs-input placeholder="大区/分公司/校区" model="" />
            <mcs-input placeholder="学员/家长姓名" model="vm.criteria.name" />
            <mcs-input placeholder="学员编号" model="vm.criteria.customerCode" />
            <mcs-input placeholder="家长联系方式" model="vm.criteria.parentContact" />
            <mcs-input placeholder="咨询师姓名" model="vm.criteria.parentName" />
            <mcs-button category="search" click="vm.search()" size="medium" />
        </div>
    </div>
</div>
<!-- /结束：潜客列表.快速查询条件 -->
<!-- #开始：潜客列表.工具栏 -->
<!--<div class="mcs-panel-toolbar">
    <mcs-button category="add" text="新增潜在客户" click="$state.go('ppts.customer-add')"></mcs-button>
    <mcs-button category="add" text="新增跟进记录"></mcs-button>
    <mcs-button icon="mail-forward" css="btn-yellow" text="划转资源"></mcs-button>
    <mcs-button icon="user-plus" css="btn-success" text="分配咨询师"></mcs-button>
    <mcs-button icon="female" css="btn-success" text="分配坐席"></mcs-button>
    <mcs-button icon="cny" css="btn-purple" text="充 值"></mcs-button>
</div>-->
<!-- /结束：潜客列表.工具栏 -->
<!-- #开始：潜客列表.数据表格 -->
<mcs-datatable data="vm.data" />
<!-- /结束：潜客列表.数据表格 -->