<div class="modal-header">
    <button type="button" class="close" data-dismiss="alert" ng-click="vm.close()">
        <i class="ace-icon fa fa-times"></i>
    </button>
    <h4 class="modal-title">选择上课学生</h4>
</div>
<div class="modal-body">
    <uib-tabset>
        <uib-tab    heading="分配教师">
            <div >
                <div class="from-group">
                    <span>我申请将{{}}分配给：</span>                    
                    <tags-input  ng-disable="true" ng-model="vm.teachers" key-property="teacherID" display-property="viewName" placeholder="教师姓名">
                        <auto-complete min-length="1" source="vm.queryTeacherList($query)"></auto-complete>
                    </tags-input>
                </div>
                <div class="from-group">
                    <span>通知处理人：</span><ppts-checkbox-group category="sendEmailSMS" model="vm.sendEmailSMS" async="false" />
                </div>
                <div class="modal-footer">
                    <mcs-button category="save" click="vm.assignTeacher()" />
                    <mcs-button category="close" click="vm.close()" />
                </div>
            </div>
        </uib-tab>
        <uib-tab   heading="调换/调出">
            <div >
                <mcs-datatable data="vm.data" />
            </div>
        </uib-tab>
    </uib-tabset>

</div>
