<form class="form-horizontal" role="form">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="student-view-tabs">
            <li ng-repeat="tab in vm.tabs" ng-class="{'active':tab.active}" class="dropdown" ppts-job-function="{{tab.permission}}">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    {{tab.title}} &nbsp;
                    <i class="ace-icon fa fa-caret-down bigger-110 width-auto"></i>
                </a>
                <ul class="dropdown-menu dropdown-info">
                    <li ng-repeat="menu in tab.menus" ui-sref="{{menu.url}}" ppts-job-functions="{{menu.permission}}">
                        <a href="#" ng-click="vm.switchView(this)">{{menu.title}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div ui-view></div>
        </div>
    </div>
</form>