<form class="form-horizontal" role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="alert" ng-click="vm.cancel()">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <h4 class="modal-title">陪读课时</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group horizontal">
                <mcs-label text="校区" css="col-sm-3" />
                <div class="col-sm-6">
                    <p class="form-control-static">{{ vm.currCampusName }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group horizontal">
                <mcs-label required="true" text="上课教师" css="col-sm-3" />
                <div class="col-sm-6">
                    <ppts-auto-complete  class="mcs-tags-input-lg noshow noplaceholder" async="true" param="{maxCount: 10,listMark: 15}" placeholder=""  ng-model="vm.teachers" max-tags="2"  full-path="name" display-property="tchName" result-filter="vm.filter" key="jobID" remote-data="{{vm.apiBaseUrl + 'api/teachercourse/getTeacher'}}" />
                </div>
            </div>
        </div>
        <div class="form-group horizontal">
            <mcs-label text="上课科目" css="col-sm-3" />
            <div class="col-sm-6">
                <p class="form-control-static">陪读</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group horizontal">
                <mcs-label required="true" text="上课时间" css="col-sm-3" />
                <div class="col-sm-6">
                    <mcs-datetimepicker model="vm.beginDate" placeholder="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group horizontal">
                <mcs-label required="true" text="课时数" css="col-sm-3" />
                <div class="col-sm-6">
                    <mcs-select category="courseAmount" model="vm.amount" callback="vm.calcDurationValueCAClick(item)" css="mcs-padding-0" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <mcs-button category="save" click="vm.save()" />
        <mcs-button category="close" click="vm.cancel()" />
    </div>
</form>




