<form role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="alert" ng-click="vm.cancel()">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <h4 class="modal-title">录入课时</h4>
    </div>
    <div class="modal-body">
        <div class="profile-user-info profile-user-info-striped mcs-user-profile">         
            <div class="profile-info-row">
                <div class="profile-info-name"> 校区 </div>
                <div class="profile-info-value">
                    {{ vm.currCampusName }}
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 上课教师 </div>
                <div class="profile-info-value">
                    <tags-input class="mcs-tags-input-lg noplaceholder" ng-disable="true" ng-model="vm.teachers" add-on-space="true" add-from-autocomplete-only="true" add-on-enter="true" key-property="teacherId" display-property="name" placeholder="">
                        <auto-complete min-length="1" source="vm.queryTeacherList($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 上课科目 </div>
                <div class="profile-info-value">
                     陪读
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 上课日期</div>
                <div class="profile-info-value">
                    <ppts-datepicker model="vm.beginDate" />
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 上课时间 </div>
                <div class="profile-info-value">
                    <ppts-select caption="" category="hour" model="vm.beginHour" callback="vm.calcDurationValueBHClick(item)" css="col-xs-2 col-sm-2" />
                    <ppts-select caption="" category="minute" model="vm.beginMinute" callback="vm.calcDurationValueBMClick(item)" css="col-xs-2 col-sm-2" />
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> 课时数 </div>
                <div class="profile-info-value">
                    <span>
                        <ppts-select caption="" category="courseAmount" model="vm.amount" callback="vm.calcDurationValueCAClick(item)" css="col-xs-7 col-sm-7" />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <mcs-button category="save" click="vm.save()" />
        <mcs-button category="close" click="vm.cancel()" />
    </div>
</form>


