<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="uriSettings" type="MCS.Library.Configuration.UriSettings, MCS.Library"/>
  </configSections>
  <!--<uriSettings>
    <groups>
      <add name="pptsServices">
        <urls>
          <add name="customerQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/CustomerQueryService.svc"/>
          <add name="accountQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/AccountQueryService.svc"/>

          <add name="productQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/ProductQueryService.svc"/>
          <add name="configruleQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/ConfigRuleQueryService.svc"/>          
        </urls>
      </add>
    </groups>
  </uriSettings>-->
    <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
