<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="timeZoneContextSettings" type="MCS.Library.Configuration.TimeZoneContextSettings, MCS.Library"/>
    <section name="uriSettings" type="MCS.Library.Configuration.UriSettings, MCS.Library"/>
    <section name="workflowSettings" type="MCS.Library.SOA.DataObjects.Workflow.WorkflowSettings, MCS.Library.SOA.DataObjects"/>
    <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>
    <section name="sysTaskSettings" type="MCS.Library.SOA.DataObjects.SysTaskSettings, MCS.Library.SOA.DataObjects"/>
    <section name="serviceMainConfig" type="MCS.Library.Services.ServiceMainSettings, MCS.Library.ServiceBase" />
  </configSections>
  <timeZoneContextSettings enabled="true" timeOffset="08:00:00" timePointKind="Utc" />
  <serviceMainConfig outputDebugString="true">
    <serviceThreads>
      <add name="sysTaskThread" enabled="true" activateDuration="00:00:01" disposeDuration="00:05:00" batchCount="20" type="ActivateWfProcessService.ExecuteSysTasksThread, ActivateWfProcessService" />
      <add name="fixedTimeTaskThread" enabled="true" activateDuration="00:00:01" disposeDuration="00:05:00" batchCount="20" type="ActivateWfProcessService.ExecuteFixedTimeTasksThread, ActivateWfProcessService" />
      <add name="clearTimeTaskThread" enabled="true" activateDuration="00:00:01" disposeDuration="00:05:00" batchCount="20" type="ActivateWfProcessService.ClearFixedTimeTasksThread, ActivateWfProcessService" />
    </serviceThreads>
    <addIns>
    </addIns>
  </serviceMainConfig>
  <sysTaskSettings>
    <typeMappings>
      <add name="InvokeService" type="MCS.Library.SOA.DataObjects.InvokeServiceSyncTask, MCS.Library.SOA.DataObjects"/>
      <add name="InvokeServiceDirectly" type="MCS.Library.SOA.DataObjects.InvokeServiceTaskExecutor, MCS.Library.SOA.DataObjects"/>
      <add name="InvokeTxActivityActionService" type="MCS.Library.SOA.DataObjects.TxActivityActionServiceTaskExecutor, MCS.Library.SOA.DataObjects"/>
      <add name="StartWorkflow" type="MCS.Library.SOA.DataObjects.StartWorkflowSyncTask, MCS.Library.SOA.DataObjects"/>
      <add name="ExecuteSysTaskActivity" type="MCS.Library.SOA.DataObjects.ExecuteSysTaskActivityTaskExecutor, MCS.Library.SOA.DataObjects"/>
    </typeMappings>
  </sysTaskSettings>
  <uriSettings>
    <groups>
      <add name="wfPlatformService">
        <urls>
          <add name="txProcessService" uri="http://localhost/MCSWebApp/WfPlatformServices/Services/TxProcessService.svc" />
        </urls>
      </add>
      <add name="pptsServices">
        <urls>
          <add name="customerQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/CustomerQueryService.svc"/>
          <add name="accountQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/AccountQueryService.svc"/>

          <add name="productQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/ProductQueryService.svc"/>
          <add name="configruleQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/ConfigRuleQueryService.svc"/>

          <add name="customerSearchUpdateService" uri="http://localhost/PPTSWebApp/PPTS.Services.Search/Services/CustomerSearchUpdateService.svc"/>
          <add name="POSRecordsUpdateService" uri ="http://localhost/PPTSWebApp/PPTS.Services.UnionPay/Services/POSRecordsUpdateService.svc" />  
      </urls>
      </add>
    </groups>
  </uriSettings>
  <workflowSettings connectionName="HB2008" outputShortType="false" useActivityPlanTime="true">
    <typeFactories>
      <add name="processDescriptorManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessDescriptorManager, MCS.Library.SOA.DataObjects"/>
      <add name="processPersistManager" type="MCS.Library.SOA.DataObjects.Workflow.WfSqlProcessPersistManager, MCS.Library.SOA.DataObjects"/>
    </typeFactories>
  </workflowSettings>
  <connectionManager>
    <connectionStrings>
      <add name="DeluxeWorksPassport" connectionString="server=10.1.56.213;database=IT_Metadata_Dev;User ID=msuser;Password=xueda123$;enlist=false"  providerName="System.Data.SqlClient" />
      <add name="PageViewState" connectionString="server=10.1.56.213;database=IT_Metadata_Dev;User ID=msuser;Password=xueda123$;enlist=false" providerName="System.Data.SqlClient"/>
      <add name="UserRelativeInfo" connectionString="server=10.1.56.213;database=IT_Metadata_Dev;User ID=msuser;Password=xueda123$;enlist=false" providerName="System.Data.SqlClient"/>
      <add name="HB2008" connectionString="server=10.1.56.213;database=IT_Workflow_Dev;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
      <add name="HB2008_SIMULATION" connectionString="server=10.1.56.213;database=IT_Workflow_Simulation_Dev;User ID=msuser;Password=xueda123$;enlist=false" providerName="System.Data.SqlClient"/>
      <add name="Archive" connectionString="server=10.1.56.213;database=IT_Workflow_Archive_Dev;User ID=msuser;Password=xueda123$;enlist=false" providerName="System.Data.SqlClient"/>
      <add name="FullTextSearch" connectionString="server=10.1.56.213;database=IT_Workflow_Dev;User ID=msuser;Password=xueda123$;enlist=false" providerName="System.Data.SqlClient" />

      <add name="PermissionsCenter" connectionString="server=10.1.56.213;database=IT_SecurityCenter_Dev;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>

      <add name="PPTS_Product" connectionString="server=10.1.56.213;database=PPTS_Product_Dev;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
      <add name="PPTS_Customer" connectionString="server=10.1.56.213;database=PPTS_Customer_Dev;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
      <add name="PPTS_Order" connectionString="server=10.1.56.213;database=PPTS_Order_Dev;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
      <add name="PPTS_Search" connectionString="server=10.1.56.213;database=PPTS_Search_Dev;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
      <add name="PPTS_MetaData" connectionString="server=10.1.56.213;database=PPTS_MetaData_Dev;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase,MCS.Library.Data.ODP"/>
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase,MCS.Library.Data"/>
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase,MCS.Library.Data"/>
    </dataProviders>
  </connectionManager>
  <!--<appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
