<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wfServiceContractMapSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceContractMapSettings, MCS.Library.WcfExtensions"/>
    <section name="serviceSettings" type="MCS.Library.Services.Configuration.ServiceSettings, MCS.Library"/>
  </configSections>
  <wfServiceContractMapSettings>
    <maps>
      <add serviceName="PPTS.Services.Orders.Services.AssetQueryService" contractName="PPTS.Contracts.Orders.Operations.IAssetQueryService" debug="true" atlasEnabled="true"/>
      <add serviceName="PPTS.Services.Orders.Services.CourseQueryService" contractName="PPTS.Contracts.Orders.Operations.ICourseQueryService" debug="true" atlasEnabled="true"/>
      <add serviceName="PPTS.Services.Orders.Services.OrderTransactionService" contractName="PPTS.Contracts.Orders.Operations.IOrderTransactionService" debug="true" atlasEnabled="true"/>
    </maps>
  </wfServiceContractMapSettings>
  <serviceSettings>
    <methodDefaultSettings name="defaultSettings" cacheEnabled="false" enableLogging="true"/>
    <services>
    </services>
  </serviceSettings>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  

</configuration>
