<div class="input-daterange input-group mcs-input-group input-xxlarge large mcs-padding-left-15">
    <input class="form-control data-range" ng-model="min" ng-model-options="{ updateOn: 'blur' }" name="min" placeholder="{{minText}}" onblur="mcs.util.number(this)" onkeyup="this.value = this.value.replace(/[^0-9.]/g, '')" style="text-align:left;">
    <span class="input-group-addon">
        {{unit}}
    </span>
    <span class="input-group-addon" style="border-left:1px solid #d5d5d5">
        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
    </span>
    <input class="form-control data-range" ng-model="max" ng-model-options="{ updateOn: 'blur' }" name="max" placeholder="{{maxText}}" onblur="mcs.util.number(this)" onkeyup="this.value = this.value.replace(/[^0-9.]/g, '')" style="text-align:left;">
    <span class="input-group-addon" style="border-right:1px solid #d5d5d5">
        {{unit}}
    </span>
</div>