<ng-form name="fileUploadForm" class="fileUploadForm">
    <div>
        <input type="file" class="form-control" ngf-multiple="true" ngf-select="fileUploadForm.files.$invalid||fileSelect($files)" ngf-max-files="2" ng-model="filesUpload" name="files" ngf-validate="{{pattern}}">
        <span ng-show="fileUploadForm.files.$error.pattern || fileUploadForm.files.$error.maxFiles">{{errorMessage||'上传格式不支持'}}{{filesAmount?',最多' + filesAmount +'个':''}}</span>
    </div>
    <div ng-if="!fileUploadForm.files.$invalid" style="max-height: 200px;overflow-y: auto;">
        <table class="table table-condensed">
            <tr ng-repeat="f in filesUpload">
                <td class="col-sm-3">
                    <span>{{f.name}}</span>
                </td>
                <td class="col-sm-3">
                    <input type="text" name="fileTitle" ng-model="f.title">
                </td>
                <td class="col-sm-3">
                    <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"  
            ng-bind="f.progress + '%'"></div>
      </span>
                </td>
                <td class="col-sm-3">
                    <span>{{errorMsg}}</span>
                </td>
            </tr>
            <tr ng-repeat="f in model|filter:fileStatusFilter">
                <td class="col-sm-3">
                    <span>{{f.originalName}}</span>
                </td>
                <td class="col-sm-3">
                    <input ng-disabled="readonly" type="text" name="fileTitle" ng-model="f.title">
                </td>
                <td class="col-sm-3">
                    <a ng-click="downloadFile(f)" style="cursor:pointer" title="{{f.originalName}}">点击下载</a>
                </td>
                <td class="col-sm-3">
                    <input ng-disabled="readonly" type="button" class="btn btn-info btn-sm" ng-click="delecteFile(f)" value="删除">
                </td>
            </tr>
            <tr>
        </table>
    </div>
</ng-form>
