<!-- #开始：位置条 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
    try {
        ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {}
    </script>
    <ul class="breadcrumb">
        <li class="active">
            <i class="ace-icon fa fa-home home-icon"></i> 首页
        </li>
        <li class="active">
            <i class="ace-icon fa fa-buttons"></i> 数据范围控件
        </li>
    </ul>
</div>
<!-- /结束：位置条 -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">应用范例</h3>
                    <div>
                        默认用法：<mcs-datarange min="vm.minAmount" max="vm.maxAmount" /><br/>
                        设置数据类型：<mcs-datarange min-text="最小年龄" max-text="最大年龄" min="vm.minAge" max="vm.maxAge" datatype="int"/><br />
                        无单位：<mcs-datarange min="vm.minAmount" max="vm.maxAmount" unit=""/><br />
                        更换单位：<mcs-datarange min="vm.minAmount" max="vm.maxAmount" unit="万元" /><br />
                        禁用模式：<mcs-datarange min="vm.minAmount" max="vm.maxAmount" disabled="true" /><br />
                        修改默认显示文字：<mcs-datarange min="vm.minAmount" max="vm.maxAmount" min-text="充值金额起" max-text="充值金额止" css="col-xs-4 col-sm-4" /><hr />
                        <span>起始金额：{{vm.minAmount}}, 截止金额：{{vm.maxAmount}}</span>
                    </div>
                </div>
                <div class="laycode col-sm-12">
                    <h3 class="header smaller lighter green">示例代码</h3>
                    <div class="code_box code_skin0">
                        <span class="code_title">Html及Javascript</span>
                        <pre class="codes">
                        <code><b>Html</b></code><br />
                        默认用法：&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" /&gt;&lt;br/&gt;
                        设置数据类型：&lt;mcs-datarange min-text="最小年龄" max-text="最大年龄" min="vm.minAge" max="vm.maxAge" datatype="int" /&gt;&lt;br/&gt;
                        无单位：&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" unit="" /&gt;&lt;br/&gt;                     
                        更换单位：&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" unit="万元"/&gt;&lt;br /&gt;
                        禁用模式：&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" disabled="true"/&gt;&lt;br /&gt;
                        修改默认显示文字：&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" min-text="充值金额起" max-text="充值金额止" css="col-xs-4 col-sm-4" /&gt;&lt;hr /&gt;
                        &lt;span&gt;起始金额：{{vm.minAmount}}, 截止金额：{{vm.maxAmount}}&lt;/span&gt;
                        <code><b>Javascript</b></code><br />
                        angular.module('app.component')
                            .controller('MCSDatarangeController', ['$scope', function($scope) {
                                var vm = this;
                            }]);
                        </pre>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">参数说明</h3>
                    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
                        <thead>
                            <tr>
                                <th>属性</th>
                                <th style="width:400px;">用途</th>
                                <th>是否必选</th>
                                <th>默认值</th>
                                <th>示例</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>min</code></td>
                                <td>最小值</td>
                                <td>是</td>
                                <td>无</td>
                                <td>&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" /&gt;</td>
                            </tr>
                            <tr>
                                <td><code>max</code></td>
                                <td>最大值</td>
                                <td>是</td>
                                <td>无</td>
                                <td>&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" /&gt;</td>
                            </tr>
                            <tr>
                                <td><code>unit</code></td>
                                <td>单位</td>
                                <td>否</td>
                                <td>元</td>
                                <td>&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" unit="万元"/&gt;</td>
                            </tr>
                            <tr>
                                <td><code>minText</code></td>
                                <td>最小值文本框的文字提示</td>
                                <td>否</td>
                                <td>"起始金额"</td>
                                <td>&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" min-text="充值金额起" max-text="充值金额止" /&gt;</td>
                            </tr>
                            <tr>
                                <td><code>maxText</code></td>
                                <td>最大值文本框的文字提示</td>
                                <td>否</td>
                                <td>"截止金额"</td>
                                <td>&lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" min-text="充值金额起" max-text="充值金额止" /&gt;</td>
                            </tr>
                            <tr>
                                <td><code>datatype</code></td>
                                <td>设置文本框的<code>数据类型</code></td>
                                <td>int,number</td>
                                <td>number</td>
                                <td>
                                    &lt;mcs-datarange min-text="最小年龄" max-text="最大年龄" min="vm.minAge" max="vm.maxAge" datatype="int" /&gt;
                                </td>
                            </tr>
                            <tr>
                                <td><code>disabled</code></td>
                                <td>设置禁用模式</code></td>
                                <td>true,false</td>
                                <td>false</td>
                                <td>
                                    &lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" disabled="true"/&gt;&lt;br /&gt;
                                </td>
                            </tr>
                            <tr>
                                <td><code>css</code></td>
                                <td>额外的样式设置</td>
                                <td>否</td>
                                <td>无</td>
                                <td>
                                    &lt;mcs-datarange min="vm.minAmount" max="vm.maxAmount" min-text="充值金额起" max-text="充值金额止" css="col-xs-4 col-sm-4" /&gt;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>