<!-- #开始：位置条 -->
<style>
.max-button {
    width: 200px;
    height: 100px;
    background-color: #660e0b;
}
</style>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
    try {
        ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {}
    </script>
    <ul class="breadcrumb">
        <li class="active">
            <i class="ace-icon fa fa-home home-icon"></i> 首页
        </li>
        <li class="active">
            <i class="ace-icon fa fa-buttons"></i> AutoComplete输入
        </li>
    </ul>
</div>
<script type="text/ng-template" id="my-custom-template">
    <label>{{data.name}}{{data.codeName?'(' + data.codeName + ')':''}}</label> <span title="{{$getDisplayText()}}" ng-bind-html="$highlight($getDisplayText())"></span>
</script>
<!-- /结束：位置条 -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">应用范例</h3>
                    <div class="well well-sm form-group">
                        <ppts-auto-complete async="true" param="{                    
                    maxCount: 10,
                    listMark: 15
                }" placeholder="姓名" full-path="fullPath" ng-model="vm.teachers" max-tags="2" display-property="name" key="fullPath" remote-data="http://localhost/MCSWebApp/MCS.Web.API/api/UserGraph/query" />
                        {{vm.teachers}}
                        <ppts-auto-complete placeholder="姓名" full-path="fullPath" ng-model="vm.students" result-filter="vm.filetr" display-property="name" key="teacherId" data="vm.tags" />
                        <!--   <tags-input class="mcs-tags-input-sm from-control" ng-blur="vm.tagBlur()" text="vm.text" on-tag-added="vm.tagChanged($tag)" max-tags="1" add-on-space="true" add-on-enter="true" ng-model="vm.teachers" key-property="teacherId" display-property="name" placeholder="姓名">
                            <auto-complete min-length="1" select-first-match="true" source="vm.queryTeacherList($query)"></auto-complete>
                        </tags-input> -->
                        <!--  <tags-input max-tags="1" add-from-autocomplete-only="true" min-length="1" ng-model="vm.Teachers" key-property="id" display-property="name" placeholder="账号或姓名">
                            <auto-complete min-length="1" display-property="fullPath" source="vm.queryStudentList($query)"></auto-complete>
                        </tags-input> -->
                    </div>
                    <ul>
                        <li ng-repeat="t in vm.teachers ">
                            <span>{{t.name}}</span>
                            <span>{{t.id}}</span>
                        </li>
                    </ul>
                    <h4>与树控件配合的使用说明:</h4>
                    <p>在通过树控件选取节点后拿到已经选取的节点数据，加入到tags-input 绑定的数据集中，例如：vm.teachers = [{ "teacherId ": "1 ", "name ": "tom " }];
                    </p>
                </div>
                <div class="laycode col-sm-12 ">
                    <h3 class="header smaller lighter green ">示例代码</h3>
                    <div class="code_box code_skin0 ">
                        <article id="content " class="markdown-body ">
                            <h4>HTML</h4>
                            <div class="codehilite"><pre>  本地数据：  <span class="nt">&lt;ppts-auto-complete</span> <span class="na">placeholder=</span><span class="s">&quot;姓名&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;vm.students&quot;</span> <span class="na">display-property=</span><span class="s">&quot;name&quot;</span> <span class="na">key=</span><span class="s">&quot;teacherId&quot;</span> <span class="na">data=</span><span class="s">&quot;vm.tags&quot;</span> <span class="nt">/&gt;</span>

    异步数据：<span class="nt">&lt;ppts-auto-complete</span> <span class="na">async=</span><span class="s">&quot;true&quot;</span> <span class="na">param=</span><span class="s">&quot;{maxCount: 10,listMark: 15}&quot;</span> <span class="na">placeholder=</span><span class="s">&quot;姓名&quot;</span> <span class="na">full-path=</span><span class="s">&quot;fullPath&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;vm.teachers&quot;</span> <span class="na">max-tags=</span><span class="s">&quot;2&quot;</span> <span class="na">display-property=</span><span class="s">&quot;name&quot;</span> <span class="na">key=</span><span class="s">&quot;id&quot;</span> <span class="na">remote-data=</span><span class="s">&quot;http://localhost/MCSWebApp/MCS.Web.API/api/UserGraph/query&quot;</span> <span class="nt">/&gt;</span>
</pre></div>
                            <h4>JS</h4>
                            <div class="codehilite "><pre><span class="p ">(</span><span class="kd ">function</span> <span class="p ">()</span> <span class="p ">{</span>
    <span class="s1 ">&#39;use strict&#39;</span><span class="p ">;</span>
    <span class="nx ">angular</span><span class="p ">.</span><span class="nx ">module</span><span class="p ">(</span><span class="s1 ">&#39;app.component&#39;</span><span class="p ">).</span><span class="nx ">controller</span><span class="p ">(</span><span class="s1 ">&#39;MCSAutoCompleteController&#39;</span><span class="p ">,</span> <span class="p ">[</span>
        <span class="s1 ">&#39;$scope&#39;</span><span class="p ">,</span> <span class="s1 ">&#39;$http&#39;</span><span class="p ">,</span>

        <span class="kd ">function</span> <span class="p ">(</span><span class="nx ">$scope</span><span class="p ">,</span> <span class="nx ">$http</span><span class="p ">)</span> <span class="p ">{</span>
            <span class="kd ">var</span> <span class="nx ">vm</span> <span class="o ">=</span> <span class="k ">this</span><span class="p ">;</span>
            <span class="nx ">$scope</span><span class="p ">.</span><span class="nx ">vm</span> <span class="o ">=</span> <span class="nx ">vm</span><span class="p ">;</span>

            <span class="nx ">vm</span><span class="p ">.</span><span class="nx ">tags</span> <span class="o ">=</span> <span class="p ">[{</span>
                <span class="nx ">teacherId</span><span class="o ">:</span> <span class="s1 ">&#39;1&#39;</span><span class="p ">,</span>
                <span class="nx ">name</span><span class="o ">:</span> <span class="s1 ">&#39;tom&#39;</span>
            <span class="p ">},</span> <span class="p ">{</span>
                <span class="nx ">teacherId</span><span class="o ">:</span> <span class="s1 ">&#39;2&#39;</span><span class="p ">,</span>
                <span class="nx ">name</span><span class="o ">:</span> <span class="s1 ">&#39;jack&#39;</span>
            <span class="p ">},</span> <span class="p ">{</span>
                <span class="nx ">teacherId</span><span class="o ">:</span> <span class="s1 ">&#39;3&#39;</span><span class="p ">,</span>
                <span class="nx ">name</span><span class="o ">:</span> <span class="s1 ">&#39;jerry&#39;</span>
            <span class="p ">}];</span>

            <span class="nx ">vm</span><span class="p ">.</span><span class="nx ">queryTeacherList</span> <span class="o ">=</span> <span class="kd ">function</span> <span class="p ">(</span><span class="nx ">query</span><span class="p ">)</span> <span class="p ">{</span>
                <span class="kd ">var</span> <span class="nx ">result</span> <span class="o ">=</span> <span class="p ">[];</span>

                <span class="nx ">vm</span><span class="p ">.</span><span class="nx ">tags</span><span class="p ">.</span><span class="nx ">forEach</span><span class="p ">(</span><span class="kd ">function</span> <span class="p ">(</span><span class="nx ">item</span><span class="p ">)</span> <span class="p ">{</span>
                    <span class="k ">if</span> <span class="p ">(</span><span class="nx ">item</span><span class="p ">.</span><span class="nx ">name</span><span class="p ">.</span><span class="nx ">indexOf</span><span class="p ">(</span><span class="nx ">query</span><span class="p ">)</span> <span class="o ">&gt;</span> <span class="o ">-</span><span class="mi ">1</span><span class="p ">)</span> <span class="p ">{</span>
                        <span class="nx ">result</span><span class="p ">.</span><span class="nx ">push</span><span class="p ">(</span><span class="nx ">item</span><span class="p ">);</span>
                    <span class="p ">}</span>

                <span class="p ">});</span>

                <span class="k ">return</span> <span class="nx ">result</span><span class="p ">;</span>
            <span class="p ">};</span>

        <span class="p ">}</span>
    <span class="p ">]);</span>
<span class="p ">})();</span>
</pre></div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <h3 class="header smaller lighter green ">参数说明</h3>
                    <h5>tags-input</h5>
                    <div class="codehilite "><pre>&lt;tags-input
  ng-model=&quot;{string}&quot;
  [template=&quot;{string}&quot;]
  [display-property=&quot;{string}&quot;]
  [key-property=&quot;{string}&quot;]
  [type=&quot;{string}&quot;]
  [text=&quot;{string}&quot;]
  [tabindex=&quot;{number}&quot;]
  [placeholder=&quot;{string}&quot;]
  [min-length=&quot;{number}&quot;]
  [max-length=&quot;{number}&quot;]
  [min-tags=&quot;{number}&quot;]
  [max-tags=&quot;{number}&quot;]
  [allow-leftover-text=&quot;{boolean}&quot;]
  [remove-tag-symbol=&quot;{string}&quot;]
  [add-on-enter=&quot;{boolean}&quot;]
  [add-on-space=&quot;{boolean}&quot;]
  [add-on-comma=&quot;{boolean}&quot;]
  [add-on-blur=&quot;{boolean}&quot;]
  [add-on-paste=&quot;{boolean}&quot;]
  [paste-split-pattern=&quot;{string}&quot;]
  [replace-spaces-with-dashes=&quot;{boolean}&quot;]
  [allowed-tags-pattern=&quot;{string}&quot;]
  [enable-editing-last-tag=&quot;{boolean}&quot;]
  [add-from-autocomplete-only=&quot;{boolean}&quot;]
  [spellcheck=&quot;{boolean}&quot;]
  [on-tag-adding=&quot;{expression}&quot;]
  [on-tag-added=&quot;{expression}&quot;]
  [on-invalid-tag=&quot;{expression}&quot;]
  [on-tag-removing=&quot;{expression}&quot;]
  [on-tag-removed=&quot;{expression}&quot;]
  [on-tag-clicked=&quot;{expression}&quot;]&gt;
&lt;/tags-input&gt;
</pre></div>
                    <h4>autocomplete</h4>
                    <div class="codehilite "><pre>&lt;auto-complete
  source=&quot;{expression}&quot;
  [template=&quot;{string}&quot;]
  [display-property=&quot;{string}&quot;]
  [debounce-delay=&quot;{number}&quot;]
  [min-length=&quot;{number}&quot;]
  [highlight-matched-text=&quot;{boolean}&quot;]
  [max-results-to-show=&quot;{number}&quot;]
  [load-on-down-arrow=&quot;{boolean}&quot;]
  [load-on-empty=&quot;{boolean}&quot;]
  [load-on-focus=&quot;{boolean}&quot;]
  [select-first-match=&quot;{boolean}&quot;]&gt;
&lt;/auto-complete&gt;ng-app=&quot;string&quot;
</pre></div>
                    <p>Reference:
                        <a href="http://mbenford.github.io/ngTagsInput/documentation/api ">autocomplete</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
