<!-- #开始：位置条 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
    try {
        ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {}
    </script>
    <ul class="breadcrumb">
        <li class="active">
            <i class="ace-icon fa fa-home home-icon"></i> 首页
        </li>
        <li class="active">
            <i class="ace-icon fa fa-buttons"></i> 表格
        </li>
    </ul>
</div>
<!-- /结束：位置条 -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">应用范例</h3>
                    <div ng-controller="MCSDatatableController">
                        <h4>交互式问答布局示例</h4>
                        <div class="dialogs ace-scroll scroll-active" style="
    width: 700px;
    /* height: 400px; */
    padding-top: 30px;
">
                            <div class="scroll-track" style="display: block;height: 320px;">
                                <div class="scroll-bar" style="height: 262px; top: 38px;"></div>
                            </div>
                            <div class="scroll-content" style="max-height: 500px;height: 200px;">
                                <div class="itemdiv dialogdiv" style="
    /* vertical-align: middle; */
    margin-top: 90px;
">
                                    <div class="body dialogArea">
                                        <div class="time" style="
    display: none;
">
                                            <i class="ace-icon fa fa-clock-o"></i>
                                            <span class="green">4 sec</span>
                                        </div>
                                        <div class="name">
                                            <a href="#">Alexa</a>
                                        </div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis.</div>
                                        <div class="tools">
                                            <a href="#" class="btn btn-minier btn-info">
                                                <i class="icon-only ace-icon fa fa-share"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="course">
                            <h3>courses</h3>
                            <input type="button" ng-click="vm.print()" value="print">
                            <div id="printArea">
                                <div ng-repeat="t in vm.teachersPrint" style="page-break-after:{{$index <  vm.teachersPrint.length-1?'always':'auto'}}">
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <td style="width:80px">教师</td>
                                            <td style="width:70px">星期</td>
                                            <td>课程</td>
                                        </tr>
                                        <tr ng-repeat="(key,value) in t.weekCourse">
                                            <td rowspan="2" ng-if="$index ==0">
                                                <label>{{t.teacherName}}</label>
                                            </td>
                                            <td>
                                                <label>{{key}}</label>
                                            </td>
                                            <td>
                                                <label style="border:1px solid gray;margin-left:10px" ng-repeat="c in value">
                                                    <p>{{c.customerName}}</p>
                                                    <p>{{c.schedule}}</p>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="button" ng-click="vm.addRow()">添加一行</button>
                        <button class="btn btn-primary" type="button" ng-click="vm.removeRow()">删除一行</button>
                        <button class="btn btn-primary" type="button" ng-click="vm.clearSelections()">清除已选行的状态记录</button>
                        <button class="btn btn-primary" type="button" ng-click="vm.removeRows()">删除已选行</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.print()">打印</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.exportExcel()">导出</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.importExcel()">导入</button>
                    </div>
                    <div id="table">
                        <div clas="datatable-container table-responsive" style="
    width: 140px;
    display: inline-block;
   
   
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-right: -3.5px;
">
                            <table style="
    height: 436px;
     margin-bottom: 13px !important;
    width: 100%;" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Teacher</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>this is your name</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <mcs-datatable id="printArea" style="
    display: inline-block;
    width: 800px;
    border-left: 0px;
    margin-left: 0px;
" on-order="vm.reorder(field,direction)" data="vm.data" />
                    </div>
                </div>
                <div>
                    年龄合计(绑定到函数)：<span>{{vm.totalAge()}}</span>
                    <br/>
                    <code>
绑定数据项: {&nbsp{totalAgeProp}&nbsp}
绑定到表达: {&nbsp{a+b}&nbsp}

</code>
                </div>
                <div id="noPaging">
                    <h4>无分页</h4>
                    <mcs-datatable data="vm.dataNoPaging" />
                </div>
            </div>
            <div class=" laycode col-sm-12 ">
                <h3 class="header smaller lighter green ">示例代码</h3>
                <h5>HTML</h5>
                <div class="codehilite "><pre>&lt;div ng-controller=&quot;MCSDatatableController&quot;&gt;
    &lt;mcs-datatable data=&quot;vm.data&quot; /&gt;
&lt;/div&gt;
</pre></div>
                <h5>JS</h5>
                <div class="codehilite "><pre>(function() {
angular.module(&#39;app.component&#39;).controller(&#39;MCSDatatableController&#39;, [
    &#39;$scope&#39;,
    function($scope) {
        var vm = this;

        vm.data = {
                selection: 'checkbox',
                rowsSelected: [],
                keyFields: ['customerId'],
                orderBy: [{
                    dataField: 'customerAge',
                    sortDirection: 1
                }],
            headers: [{
                    field: &quot;customerName&quot;,
                    name: &quot;姓名&quot;,
                    headerCss: &#39;datatable-header-align-right&#39;,
                    sortable:false,
                    description: &#39;customer name&#39;
                },

                {
                    field: &quot;customerAge&quot;,
                    name: &quot;年龄&quot;,
                    headerCss: &#39;datatable-header-align-right&#39;,
                    template: &#39;&lt;span&gt;{ {row.customerAge|currency} }&lt;/span&gt;&#39;,
                    sortable:true,
                    description: &#39;customer age&#39;
                },

                {
                    name: &quot;操作1&quot;,
                    template: &#39;&lt;a class=&quot;btn&quot; ng-click=&quot;editRow(row)&quot;&gt;hello&lt;/a&gt;&#39;
                }, {
                    name: &quot;操作2&quot;,
                    template: &#39;&lt;a&gt;hello&lt;/a&gt;&#39;
                }
            ],
            rows: [{
                customerId: 1,
                parentId: 11,
                customerName: &#39;tom&#39;,
                customerAge: 12


            }, {
                customerId: 2,
                parentId: 22,
                customerName: &#39;jack&#39;,
                customerAge: 28

            }],
            pager: {
                pageIndex: 1,
                pageSize: 10,
                totalCount: 2
            }
        }
    }
]);
})();
</pre></div>
                <div>
                    <h3>单独使用的分页控件示例</h3>
                    <div class="codehilite "><pre>
    &lt;div ng-show="vm.PagedList.PagedParam.TotalCount&gt;0" class="mcs-panel-pager well well-sm"&gt;
        &lt;span class="bigger-110"&gt;{{vm.PagedList.PagedParam.Message}}&lt;/span&gt;
        &lt;uib-pagination boundary-links="true" ng-change="pageChanged()" total-items="vm.PagedList.PagedParam.TotalCount" ng-model="vm.criteria.PagedParam.Page" class="pagination" previous-text="&amp;lsaquo;" next-text="&amp;rsaquo;" first-text="&amp;laquo;" last-text="&amp;raquo;"&gt;&lt;/uib-pagination&gt;
    &lt;/div&gt;</pre></div>
                </div>
            </div>
            <div class="col-sm-12 ">
                <h3 class="header smaller lighter green ">参数说明</h3>
                <table class="table table-striped table-bordered table-hover ">
                    <thead>
                        <th>参数</th>
                        <th>用途</th>
                        <th>取值范围</th>
                        <th>示例</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>selection</td>
                            <td>设置行选择框</td>
                            <td>checkbox/radio</td>
                            <td>selection = "checkbox"</td>
                        </tr>
                        <tr>
                            <td>rowsSelected</td>
                            <td>存储选择的行</td>
                            <td>数组</td>
                            <td>rowsSelected = []</td>
                        </tr>
                        <tr>
                            <td>keyFields</td>
                            <td>指定数据关键列</td>
                            <td>数组</td>
                            <td>keyFields = ['customerId']</td>
                        </tr>
                        <tr>
                            <td>orderBy</td>
                            <td>存储排序规则</td>
                            <td>JSON对象</td>
                            <td>orderBy = {dataField:'customerName',sortDirection:1}</td>
                        </tr>
                        <tr>
                            <td>headers</td>
                            <td>
                                <pre>
field       标识字段名
name        标识列头名称
headerCss   设置列头样式
template    设置Cell模板
sortable     该列是否可排序
description 列描述
</pre>
                            </td>
                            <td></td>
                            <td>
                                <pre>
field: "customerName "
name: "姓名 "
headerCss: 'db-header-align-right'
template: '<span>{{row.customerName}}</span>'
sortable: true
description: 'customer name'
</pre>
                            </td>
                        </tr>
                        <tr>
                            <td>rows</td>
                            <td>设置行数据集</td>
                            <td>JSON对象数组</td>
                            <td>rows:[{name:'tom',age:18}]</td>
                        </tr>
                        <tr>
                            <td>pager</td>
                            <td>设定分页配置项</td>
                            <td>JSON对象</td>
                            <td>
                                <code>
                    pager: {
                    pagable:true,
                    pageIndex: 1,
                    pageSize: 10,
                    totalCount: 2,
                    pageChange:vm.pageChange
                }
                </code>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
