<!-- #开始：位置条 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed');
        } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li class="active">
            <i class="ace-icon fa fa-home home-icon"></i>
            <a ui-sref="index">首页</a>
        </li>
        <li>
            <i class="ace-icon fa fa-pencil-square-o"></i> 产品管理
        </li>
        <li>
            产品列表
        </li>
    </ul>
</div>
<!-- /结束：位置条 -->
<div class="page-content">
    <!-- #开始：产品列表 -->
    <div class="page-content-area">
        <div class="row">
            <div class="col-sm-12">
                <!-- #开始：产品列表.查询条件 -->

                <form name="advQuery" novalidate>
                <!--高级查询-开始-->
                <div id="accordion" class="accordion-style1 panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#advance-search">
                                    <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="fa-angle-down" data-icon-show="fa-angle-right"></i>
                                    &nbsp;高级查询条件
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse mcs-advance-search" id="advance-search">
                            <div class="panel-body">
                                <div class="profile-user-info">

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 产品类型</div>
                                        <div class="profile-info-value">
                                            <div ng-repeat="x in vm.dictionaries.productcategories">
                                                <a href='javascript:;' >{{x.value}}</a> 
                                                <div>
                                                <a href='javascript:;' >全选</a> 
                                                <mcs-checkbox-group category="selectedProdutCategories" data="x.childcategories" click="vm.select(category,item, eventargs)" /></div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 合作关系</div>
                                        <div class="profile-info-value">
                                            <ppts-checkbox-group category="hasPartner" model="vm.criteria.hasPartners" clear="vm.criteria.hasPartners=[]" />
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 年级</div>
                                        <div class="profile-info-value">
                                            <ppts-checkbox-group category="grade" model="vm.criteria.selectedGrades" clear="vm.criteria.selectedGrades=[]" />
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 科目</div>
                                        <div class="profile-info-value">
                                            <ppts-checkbox-group category="subject" model="vm.criteria.selectedSubjects" clear="vm.criteria.selectedSubjects=[]" />
                                        </div>
                                    </div>
                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 课程级别</div>
                                        <div class="profile-info-value">
                                            <ppts-checkbox-group category="courseLevel" model="vm.criteria.selectedCourseLevels" clear="vm.criteria.selectedCourseLevels=[]" />
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 辅导类型</div>
                                        <div class="profile-info-value">
                                            <ppts-checkbox-group category="coachType" model="vm.criteria.selectedCoachTypes" clear="vm.criteria.selectedCoachTypes=[]" />
                                        </div>
                                    </div>


                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 课程季节</div>
                                        <div class="profile-info-value">
                                            <ppts-checkbox-group category="season" model="vm.criteria.selectedSeasons" clear="vm.criteria.selectedSeasons=[]" />
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 班级类型</div>
                                        <div class="profile-info-value">
                                            <ppts-checkbox-group category="classType" model="vm.criteria.selectedClassTypes" clear="vm.criteria.selectedClassTypes=[]" />
                                        </div>
                                    </div>


                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 满班人数</div>
                                        <div class="profile-info-value">
                                            <mcs-input placeholder="最小满班人数" model="vm.criteria.minPeoples" name="minPeopleCount" type="number" min="0" ng-pattern="/^\d+$/" />-
                                            <mcs-input placeholder="最大满班人数" model="vm.criteria.maxPeoples" name="maxPeopleCount" type="number" min="0" ng-pattern="/^\d+$/" />
                                            <span style="color:red" ng-show="vm.minPeopleCount > vm.maxPeopleCount ">最小 不能大于 最大</span>
                                            <span style="color:red" ng-show="advQuery.minPeopleCount.$invalid || advQuery.maxPeopleCount.$invalid">满班人数 非法输入</span>
                                        </div>
                                    </div>


                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 订购优惠金额</div>
                                        <div class="profile-info-value">
                                            <mcs-input placeholder="最小优惠金额" model="vm.criteria.minDiscountAmount" name="minDiscountAmount" type="number" step="0.01" min="0"  ng-pattern="/^\d{0,7}(\.\d{1,2})?$/" />-
                                            <mcs-input placeholder="最大优惠金额" model="vm.criteria.maxDiscountAmount" name="maxDiscountAmount" type="number" step="0.01" min="0"  ng-pattern="/^\d{0,7}(\.\d{1,2})?$/" />
                                            <span style="color:red" ng-show="advQuery.minDiscountAmount.$invalid || advQuery.maxDiscountAmount.$invalid">订购优惠金额 非法输入</span>
                                        </div>
                                    </div>


                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 单价类型</div>
                                        <div class="profile-info-value">
                                            <ppts-checkbox-group category="priceType" model="vm.criteria.priceTypes" clear="vm.criteria.priceTypes=[]"/>
                                        </div>
                                    </div>

                                    <div class="profile-info-row">
                                        <div class="profile-info-name"> 单价区间</div>
                                        <div class="profile-info-value">
                                            <mcs-input placeholder="最小金额" model="vm.criteria.minPrice" name="minPrice" type="number" step="0.01" min="0"  ng-pattern="/^\d{0,7}(\.\d{1,2})?$/" />-
                                            <mcs-input placeholder="最大金额" model="vm.criteria.maxPrice" name="maxPrice" type="number" step="0.01" min="0"  ng-pattern="/^\d{0,7}(\.\d{1,2})?$/" />
                                            <span style="color:red" ng-show="vm.minAmount> vm.maxAmount">最小金额 不能高于 最大金额</span>
                                            <span style="color:red" ng-show="advQuery.minAmount.$invalid || advQuery.maxAmount.$invalid">单价区间 非法输入</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--高级查询-结束-->

                </form>

                <div class="mcs-panel-search well well-sm">
                    <div class="portlet">
                        <div class="portlet-title line">
                            <div class="caption">
                                <label class="quick-search"><i class="ace-icon fa fa-search bigger-125"></i> 快速查询条件</label>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <select><option>选择大区</option></select>
                            <select><option>选择分公司</option></select>
                            <select><option>选择校区</option></select>

                            <ppts-select category="categoryType" model="vm.criteria.categoryType" caption="产品类型"  class="col-sm-3" />
                            <ppts-select category="hasPartner" model="vm.criteria.hasPartner" caption="是否合作" class="col-sm-3" />

                            <mcs-input placeholder="产品名称" model="vm.criteria.productName" />
                            <mcs-input placeholder="产品编码" model="vm.criteria.productCode" />
                            <mcs-input placeholder="创建人" model="vm.criteria.creatorName" />

                            <ppts-select category="saleStatus" model="vm.criteria.productStatus" caption="销售状态" class="col-sm-3" />

                            <ppts-select category="timeType" model="vm.criteria.timeType" caption="时间类型" class="col-sm-3" />

                            <p class="input-group col-sm-3">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="vm.criteria.begainTime" is-open="vm.popup1.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>

                            <p class="input-group col-sm-3">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="vm.criteria.endTime" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>

                            <mcs-button type="search" click="vm.search()" size="medium" />
                        </div>
                    </div>
                </div>
                <!-- /结束：产品列表.查询条件 -->
                <!-- #开始：产品列表.工具条 -->
                <div class="mcs-panel-toolbar">

                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
                            新增 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                            <li role="menuitem"><a ui-sref="ppts.productAdd.onetoone">一对一</a></li>
                            <li role="menuitem"><a ui-sref="ppts.productAdd.classgroup">班组</a></li>
                            <li role="menuitem"><a ui-sref="ppts.productAdd.youxue" >游学</a></li>
                            <li role="menuitem"><a ui-sref="ppts.productAdd.other" >其他</a></li>
                            <li role="menuitem"><a ui-sref="ppts.productAdd.wukeshou" >无课收合作</a></li>
                        </ul>
                    </div>

                    <mcs-button type="delete" disable="vm.data.rowsSelected.length<1" click="vm.delete()"></mcs-button>
                    <mcs-button type="edit" text="止售产品" disable="vm.data.rowsSelected.length!=1" click="vm.stopProduct()" ></mcs-button>
                    <mcs-button type="edit" text="延期产品" disable="vm.data.rowsSelected.length!=1" click="vm.delayProduct()" ></mcs-button>
                    <mcs-button type="edit" text="复制创建产品" click="vm.copyProduct()" disable="vm.data.rowsSelected.length!=1" ></mcs-button>
                    <mcs-button type="add" text="创建班级"></mcs-button>

                </div>
                <!-- /结束：产品列表.工具条 -->

                <!-- #开始：产品列表.数据表格 -->
                <mcs-datatable data="vm.data" />
                <!-- /结束：产品列表.数据表格 -->

                

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /结束：产品列表 -->
</div>

