<div class="portlet light ">
    <div class="portlet-body form">
        <form class="form-horizontal" action="#" role="form" novalidate>
            <div class="form-actions noborder">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <mcs-button category="save" click="vm.save()" ppts-job-functions="{{vm.isCustomer?"编辑潜客信息,编辑潜客信息-本部门":"修改家长、学员非关键信息,修改家长、学员关键信息-本分公司"}}"></mcs-button>
                        <mcs-button category="cancel" click="vm.cancel()"></mcs-button>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <h4 class="form-section">
                    <i class="ace-icon fa fa-th"></i> 新增 {{vm.isCustomer?"潜客":"学员"}}<span class="important">【{{vm.customerName}}】</span>家长
                    <span class="section-helper"> (<i class="ace-icon fa fa-star red bigger-70" /> ：必填项，<i class="ace-icon fa fa-caret-up red" /> ：充值所需项，<i class="ace-icon fa fa-square red bigger-70" /> ：关键信息，签约后只能分审核经理修改)</span>
                </h4>
                <div class="form-group horizontal bordered">
                    <mcs-label text="家长姓名" icons="caret-up,star,square" css="col-md-3" />
                    <div class="col-md-4">
                        <mcs-input id="parentName" model="vm.parent.parentName" required maxlength="15" validate="vm.checkParentName('#parentName')" data-validation-custom-message="家长姓名不能与学员姓名重复！" css="mcs-width-full" />
                    </div>
                </div>
                <div class="form-group horizontal bordered">
                    <mcs-label text="家长性别" css="col-md-3" />
                    <div class="col-md-4">
                        <ppts-radiobutton-group category="gender" model="vm.parent.gender" />
                    </div>
                </div>
                <div class="form-group horizontal bordered" style="height:auto">
                    <mcs-label text="亲属关系" icons="caret-up" css="col-md-3 mcs-padding-top-15" />
                    <div class="col-md-4" style="margin:2px 0">
                        <div class="customer-relation-container">
                            <div class="col-md-12 mcs-padding-0 mcs-margin-bottom-2">
                                <div class="col-md-4 mcs-padding-0"><input class="mcs-readonly-input" ng-readonly="true" ng-model="vm.customer.customerName" onkeydown="return false;" onpaste="return false;" oncontextmenu="return false;" style="width:88%;background:none !important;" />是</div>
                                <div class="col-md-4 mcs-padding-0"><input class="mcs-readonly-input" ng-readonly="true" ng-model="vm.parent.parentName" onkeydown="return false;" onpaste="return false;" oncontextmenu="return false;" style="width:88%;background:none !important;" />的</div>
                                <div class="col-md-4 mcs-padding-0"><mcs-select data="vm.customerRoles" model="vm.customerRole" callback="selectCustomerRole(item, model)" css="mcs-padding-0" caption="子女关系" /></div>
                            </div>
                            <div class="col-sm-12 mcs-padding-0">
                                <div class="col-md-4 mcs-padding-0"><input class="mcs-readonly-input" ng-readonly="true" ng-model="vm.parent.parentName" onkeydown="return false;" onpaste="return false;" oncontextmenu="return false;" style="width:88%;background:none !important;" />是</div>
                                <div class="col-md-4 mcs-padding-0"><input class="mcs-readonly-input" ng-readonly="true" ng-model="vm.customer.customerName" onkeydown="return false;" onpaste="return false;" oncontextmenu="return false;" style="width:88%;background:none !important;" />的</div>
                                <div class="col-md-4 mcs-padding-0"><mcs-select data="vm.parentRoles" model="vm.parentRole" disabled="!(vm.parent.gender && vm.customer.gender && vm.customerRole && vm.parentRoles.length > 1)" css="mcs-padding-0" caption="家属关系" /></div>
                            </div>
                            <p class="help-block"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group horizontal bordered">
                    <mcs-label text="是否主监护人" css="col-md-3" />
                    <div class="col-md-4">
                        <ppts-radiobutton-group category="ifElse" model="vm.relation.isPrimary" />
                    </div>
                </div>
                <div class="form-group horizontal bordered">
                    <mcs-label text="主要联系方式" icons="caret-up" css="col-md-3" />
                    <div class="col-md-4">
                        <mcs-input model="vm.parent.primaryPhone.phoneNumber" required css="mcs-width-full" phone />
                    </div>
                </div>
                <div class="form-group horizontal bordered">
                    <mcs-label text="辅助联系方式" css="col-md-3" />
                    <div class="col-md-4">
                        <mcs-input model="vm.parent.secondaryPhone.phoneNumber" css="mcs-width-full" phone/>
                    </div>
                </div>
                <div class="form-group horizontal bordered">
                    <mcs-label text="现住址" css="col-md-3" />
                    <div class="col-md-4">
                        <ppts-region province="vm.parent.province" city="vm.parent.city" district="vm.parent.county" street="vm.parent.streetName" selected="vm.selected" maxlength="128" />
                    </div>
                </div>
                <div class="form-group horizontal bordered">
                    <mcs-label text="家长Email" css="col-md-3" />
                    <div class="col-md-4">
                        <mcs-input model="vm.parent.email" css="mcs-width-full" email/>
                    </div>
                </div>
                <div class="form-group horizontal bordered">
                    <div class="col-md-2"></div>
                    <mcs-select category="idtype" model="vm.parent.idType" css="col-md-1" />
                    <div class="col-md-9">
                        <mcs-input id="parentIdNumber" model="vm.parent.idNumber" validate="vm.isIdCard(vm.parent.idType, vm.parent.idNumber, '#parentIdNumber')" data-validation-custom-message="输入数据项不是合法身份证号！" css="col-md-12" />
                    </div>
                </div>
                <div class="form-group horizontal bordered">
                    <mcs-label text="家庭年总收入" css="col-md-3" />
                    <div class="col-md-4">
                        <mcs-select category="income" model="vm.parent.income" css="mcs-padding-0" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<!--<div class="clearfix form-actions mcs-form-actions">
    <div class="col-md-offset-3 col-md-9">
        <mcs-button category="save" click="vm.save()"></mcs-button>
    </div>
</div>

<div class="profile-user-info profile-user-info-striped mcs-user-profile">
    <div class="profile-info-row">
        <div class="profile-info-name"> 家长姓名 </div>
        <div class="profile-info-value">
            <mcs-input model="vm.parent.parentName" css="col-xs-5 col-sm-5" />
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 家长性别 </div>
        <div class="profile-info-value">
            <ppts-radiobutton-group category="gender" model="vm.parent.gender" />
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 亲属关系 </div>
        <div class="profile-info-value">
            <div class="customer-relation-container">
                <div class="col-sm-12 mcs-padding-0 mcs-margin-bottom-2">
                    <div class="col-sm-4 mcs-padding-0"><input class="mcs-readonly-input" ng-model="vm.customer.customerName" onkeydown="return false;" style="width:88%;background:none;" />是</div>
                    <div class="col-sm-4 mcs-padding-0"><input class="mcs-readonly-input" ng-model="vm.parent.parentName" onkeydown="return false;" style="width:88%;background:none;" />的</div>
                    <div class="col-sm-4 mcs-padding-0"><mcs-select data="vm.customerRoles" model="vm.customerRole" callback="selectCustomerRole(item, model)" css="mcs-padding-0" caption="子女关系" /></div>
                </div>
                <div class="col-sm-12 mcs-padding-0">
                    <div class="col-sm-4 mcs-padding-0"><input class="mcs-readonly-input" ng-model="vm.parent.parentName" onkeydown="return false;" style="width:88%;background:none;" />是</div>
                    <div class="col-sm-4 mcs-padding-0"><input class="mcs-readonly-input" ng-model="vm.customer.customerName" onkeydown="return false;" style="width:88%;background:none;" />的</div>
                    <div class="col-sm-4 mcs-padding-0"><mcs-select data="vm.parentRoles" model="vm.parentRole" disabled="!(vm.parent.gender && vm.customer.gender && vm.customerRole && vm.parentRoles.length > 1)" css="mcs-padding-0" caption="家属关系" /></div>
                </div>
                <p class="help-block"></p>
            </div>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 是否是主监护人 </div>
        <div class="profile-info-value">
            <ppts-radiobutton-group category="ifElse" model="vm.isPrimary" />
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 联系方式1 </div>
        <div class="profile-info-value">
            <mcs-input model="vm.parent.primaryPhone.phoneNumber" css="col-xs-5 col-sm-5" />
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 联系方式2 </div>
        <div class="profile-info-value">
            <mcs-input model="vm.parent.secondaryPhone.phoneNumber" css="col-xs-5 col-sm-5" />
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 家长Email </div>
        <div class="profile-info-value">
            <mcs-input model="vm.parent.email" css="col-xs-5 col-sm-5" />
        </div>
    </div>
    <div class="profile-info-row">
        <div >
            <mcs-select category="idtype" model="vm.parent.idType" class="ppts-select-label"/>
        </div>
        <div class="profile-info-value">
            <mcs-input model="vm.parent.idNumber" css="col-xs-5 col-sm-5" />
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 家庭年总收入 </div>
        <div class="profile-info-value">
            <mcs-select category="income" model="vm.parent.income" css="col-xs-5 col-sm-5" />
        </div>
    </div>
</div>-->
