<div class="clearfix form-actions mcs-form-actions">
    <div class="col-md-offset-3 col-md-9">
        <mcs-button category="edit" click="vm.edit()"></mcs-button>
    </div>
</div>

<div class="alert alert-block alert-danger" ng-show="vm.errorMessage">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    <i class="ace-icon fa fa-warning"></i>
    {{vm.errorMessage}}
</div>
<mcs-datatable data="vm.data" />

<div class="profile-user-info profile-user-info-striped mcs-user-profile" ng-hide="!vm.data.rows">
    <div class="profile-info-row">
        <div class="profile-info-name"> 家长姓名 </div>
        <div class="profile-info-value">
            <span>{{ vm.parent.parentName }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 家长性别 </div>
        <div class="profile-info-value">
            <span>{{ vm.parent.gender | gender }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 亲属关系 </div>
        <div class="profile-info-value">
            <span ng-if="vm.parent.gender==1">{{ vm.parent.parentRole | parentMale }}</span>
            <span ng-if="vm.parent.gender==2">{{ vm.parent.parentRole | parentFemale }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 是否主监护人 </div>
        <div class="profile-info-value">
            <span>{{ vm.parent.isPrimary | ifElse }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 联系方式1 </div>
        <div class="profile-info-value">
            <span>{{ vm.parent.primaryPhone.phoneNumber }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 联系方式2 </div>
        <div class="profile-info-value">
            <span>{{ vm.parent.secondaryPhone.phoneNumber }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 现住址 </div>
        <div class="profile-info-value">
            <span>{{  }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 家长Email </div>
        <div class="profile-info-value">
            <span>{{ vm.parent.email }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 
            <span ng-if="vm.parent.idType != ''"> {{ vm.parent.idType | idtype }} </span>
            <span ng-if="vm.parent.idType == ''"> 身份证 </span>
        </div>
        <div class="profile-info-value">
            <span>{{ vm.parent.idNumber }}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 家庭年总收入 </div>
        <div class="profile-info-value">
            <span ng-if="vm.parent.income > 0">{{ vm.parent.income | income }}</span>
        </div>
    </div>
</div>

