<form class="form-horizontal" role="form" action="#" novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="alert" ng-click="vm.cancel()">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <h4 class="modal-title">申请解冻</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <mcs-label required="true" text="解冻原因" css="col-md-3" />
            <div class="col-md-9">
                <mcs-select category="thawReasonType" model="vm.criteria.reasonType" css="col-sm-6 mcs-padding-0" async="false" required />
            </div>
        </div>
        <div class="form-group" ng-show="vm.criteria.reasonType == 3">
            <mcs-label text="内容描述" css="col-md-3" />
            <div class="col-md-9">
                <textarea class="autosize-transition form-control" ng-model="vm.criteria.thawReason" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 100px;" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <mcs-label text="上传附件" css="col-md-3" />
            <div class="col-md-9"> 
                <div files-upload model="vm.criteria.files" error-message="不支持上传此格式的文件。" pattern="{size: {max: '3MB'},pattern: 'image/*,.doc,.docx,.xls,xlsx,.ppt,.ppts,.jpg,.txt,.png,.jpeg,.rar,.zip'}" readonly="false" resource-Id="{{vm.criteria.customerID}}" module-name="liucy" url="{{vm.url}}api/students/UploadMaterial">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <mcs-button category="ok" click="vm.save()" />
        <mcs-button category="close" click="vm.cancel()" />
    </div>
</form>