<!-- #开始：位置条 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
    try {
        ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {}
    </script>
    <ul class="breadcrumb">
        <li class="active">
            <i class="ace-icon fa fa-home home-icon"></i> 首页
        </li>
        <li class="active">
            <i class="ace-icon fa fa-buttons"></i> 下拉按钮
        </li>
    </ul>
</div>
<!-- /结束：位置条 -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">应用范例</h3>
                    <div id="usage">
                        <mcs-dropdown-button title="订 购" items="vm.products"></mcs-dropdown-button>
                        <mcs-dropdown-button title="订 购" items="vm.products"></mcs-dropdown-button>
                        <mcs-button category="add"></mcs-button><br/>
                        <mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart"></mcs-dropdown-button>
                        <mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart" category="warning"></mcs-dropdown-button>
                        <mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart" category="danger"></mcs-dropdown-button>
                        <mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart" category="primary"></mcs-dropdown-button>
                        <mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart" category="success"></mcs-dropdown-button>
                    </div>
                </div>
                <div class="laycode col-sm-12">
                    <h3 class="header smaller lighter green">示例代码</h3>
                    <div class="code_box code_skin0">
                        <span class="code_title">Html及Javascript</span>
                        <pre class="codes">
                        <code><b>Html</b></code><br />
                        &lt;mcs-dropdown-button title="订 购" items="vm.products"&gt;&lt;/mcs-dropdown-button&gt;
                        &lt;mcs-dropdown-button title="订 购" items="vm.products"&gt;&lt;/mcs-dropdown-button&gt;
                        &lt;mcs-button category="add"&gt;&lt;/mcs-button&gt;&lt;br/&gt;
                        &lt;mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart"&gt;&lt;/mcs-dropdown-button&gt;
                        &lt;mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart" category="warning"&gt;&lt;/mcs-dropdown-button&gt;
                        &lt;mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart" category="danger"&gt;&lt;/mcs-dropdown-button&gt;
                        &lt;mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart" category="primary"&gt;&lt;/mcs-dropdown-button&gt;
                        &lt;mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart" category="success"&gt;&lt;/mcs-dropdown-button&gt;
                        <code><b>Javascript</b></code><br />
                         angular.module('app.component')
                            .controller('MCSDropdownButtonController', ['$scope', function($scope) {
                                var vm = this;
                                vm.purchase = function (item) {
                                    alert(item.text + ',' + item.route);
                                };
                                vm.products = [{
                                    text: '常规订购', route: 'ppts.products({type:"cgdg"})', click: vm.purchase 
                                }, {
                                    text: '插班订购', route: 'ppts.products({type:"cbdg"})', click: vm.purchase
                                }, {
                                    text: '买赠订购', route: 'ppts.products({type:"mzdg"})', click: vm.purchase
                                }];
                            }]);
                        </pre>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">参数说明</h3>
                    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
                        <thead>
                            <tr>
                                <th>属性</th>
                                <th style="width:600px;">用途</th>
                                <th>范围</th>
                                <th>默认值</th>
                                <th>示例</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>title</code></td>
                                <td>设置下拉按钮的标题文字显示（如：订购）</td>
                                <td>无</td>
                                <td></td>
                                <td>&lt;mcs-dropdown-button title="订 购" items="vm.products"&gt;&lt;/mcs-dropdown-button&gt;</td>
                            </tr>
                            <tr>
                                <td><code>items</code></td>
                                <td>设置下拉按钮的下拉内容来源（数组）</td>
                                <td>无</td>
                                <td></td>
                                <td>&lt;mcs-dropdown-button title="订 购" items="vm.products"&gt;&lt;/mcs-dropdown-button&gt;</td>
                            </tr>
                            <tr>
                                <td><code>icon</code></td>
                                <td>下拉按钮无法满足时,通用下拉按钮的<code>图标</code>如(“订购”图标可使用“shopping-cart”或“fa-shopping-cart”)</td>
                                <td>无</td>
                                <td>fa-plus</td>
                                <td>&lt;mcs-dropdown-button title="订 购" items="vm.products" icon="shopping-cart"&gt;&lt;/mcs-dropdown-button&gt;</td>
                            </tr>
                            <tr>
                                <td><code>category</code></td>
                                <td>设置下拉按钮的<code>类型</code></td>
                                <td>"info", "primary", "warning", "success", "danger"</td>
                                <td>info</td>
                                <td>&lt;mcs-dropdown-button title="订 购" items="vm.products"&gt;&lt;/mcs-dropdown-button&gt;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
