<configSections>
<section name="emailMessageSettings" type="MCS.Library.SOA.DataObjects.EmailMessageSettings, MCS.Library.SOA.DataObjects" />
</configSections>
<emailMessageSettings connectionName="" serverInfoName="smtp" useDefaultCredentials="false" afterSentOP="MoveToSentTable" defaultSender="soaadmin&lt;soaadmin@sinooceanland.com&gt;"/>
