<serverInfoConfigSettings>
	<serverInfos>
		<add name="dc" serverName="10.0.8.82" identityName="domainUser" port="0" authenticateType="NTLM"/>
		<add name="smtp" serverName="smtp.exmail.qq.com " identityName="smtpSender" port="465" authenticateType="Basic"/>
	</serverInfos>
</serverInfoConfigSettings>
<identityConfigSettings>
<identities>
<add name="smtpSender" userId="ppts@xueda.com " domain="sinooceanland" password="N8a9*b3k2" />
</identities>
</identityConfigSettings>
