<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="wfServiceContractMapSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceContractMapSettings, MCS.Library.WcfExtensions"/>
    <section name="serviceSettings" type="MCS.Library.Services.Configuration.ServiceSettings, MCS.Library"/>
    <!--<section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data"/>-->
  </configSections>
  <wfServiceContractMapSettings>
    <maps>
      <add serviceName="MCS.Services.Test.Services.TaskDemoService" contractName="MCS.Services.Test.Contracts.ITaskDemoService" debug="true" atlasEnabled="true"/>
      <add serviceName="MCS.Services.Test.Services.OrderTransactionService" contractName="MCS.Services.Test.Contracts.IOrderTransactionService" debug="true" atlasEnabled="true"/>
      <add serviceName="MCS.Services.Test.Services.RepertoryTransactionService" contractName="MCS.Services.Test.Contracts.IRepertoryTransactionService" debug="true" atlasEnabled="true"/>
    </maps>
  </wfServiceContractMapSettings>
  <!--<connectionManager>
    <connectionStrings>
      <add name="OrderDB" connectionString="server=MCSFramework;database=DataAccessTest;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
      <add name="RepertoryDB" connectionString="server=MCSFramework;database=DataAccessTest;Integrated Security=True" commandTimeout="00:01:00" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase, MCS.Library.Data.ODP"/>
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase, MCS.Library.Data"/>
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase, MCS.Library.Data"/>
    </dataProviders>
  </connectionManager>-->
  <serviceSettings>
    <methodDefaultSettings name="defaultSettings" cacheEnabled="false" enableLogging="true"/>
    <services>
      <!--<add name="ICustomerQueryService">
        <methods>
          -->
      <!--<add name="GetObjectsDetail" cacheEnabled="true" />-->
      <!--
        </methods>
      </add>-->
    </services>
  </serviceSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
</configuration>