
<div class="form-horizontal">
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="clearfix form-actions mcs-form-actions" style="margin-bottom:15px">
                <div class="col-md-offset-3 col-md-9">
                    <mcs-button category="edit" click="vm.editCustomerMeeting()"></mcs-button>
                    <mcs-button category="cancel" click="vm.cancelEditCustomerMeeting()"></mcs-button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="学生姓名" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.customerName}}" />
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
               
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="会议组织人" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.organizerName}}" />
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="会议日期" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.meetingTime | date:'yyyy-MM-dd HH:mm' }}" /> 至 <mcs-label text="{{vm.customerMeeting.meetingEndTime | date:'yyyy-MM-dd HH:mm'}}" />
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="会议时长" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.meetingDuration}}" />
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="下次开会时间" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.nextMeetingTime | date:'yyyy-MM-dd HH:mm'}}" />
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="会议主题" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.meetingTitle | meetingTitle}}" />
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="会议类型" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.meetingType | meetingType}}" />
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="会议参与人" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.participants}}" />

                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <mcs-uicopy class="widget-body" data="vm.items" item-template-url="./app/customer/customermeeting/customermeeting-view/customermeeting-view-item.tpl.html" nodata-tip="无数据">
                    </mcs-uicopy>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="上传附件" css="col-sm-3" />
                    <div class="col-sm-9">
                        <span ng-repeat="m in vm.customerMeeting.materials">
                            <a href="#" ng-click="vm.downloadFile(m)">附件{{ $index+1 }}</a><br>
                        </span>

                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <mcs-label text="家长满意度" css="col-sm-3" />
                    <div class="col-sm-9">
                        <mcs-label text="{{vm.customerMeeting.satisficing | satisfaction}}" />
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </div>
</div>


