<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="timeZoneContextSettings" type="MCS.Library.Configuration.TimeZoneContextSettings, MCS.Library"/>
    <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data" />
    <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
    <section name="oguObjectSettings" type="MCS.Library.SOA.DataObjects.OguObjectSettings, MCS.Library.SOA.DataObjects"/>
  </configSections>
  <timeZoneContextSettings enabled="true" timeOffset="08:00:00" timePointKind="Utc" />
  <connectionManager>
    <connectionStrings>
      <!--<add name="PPTS_Customer" connectionString="server=MCSFramework;database=PPTS.Data.Customer.Local.Test.DB;Integrated Security=True" commandTimeout="00:00:30" providerName="System.Data.SqlClient" />
      <add name="PPTS_MetaData" connectionString="server=MCSFramework;database=PPTS.Common.Data.Test.DB;Integrated Security=True" commandTimeout="00:00:30" providerName="System.Data.SqlClient" />
      <add name="HB2008" connectionString="server=MCSFramework;database=MCS_WORKFLOW_TEST;Integrated Security=True" commandTimeout="00:00:30" providerName="System.Data.SqlClient" />-->

      <!--<add name="PPTS_Customer" connectionString="server=10.1.56.213;database=PPTS_Customer_Dev;User ID=msuser;Password=xueda123$" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
      <add name="PPTS_MetaData" connectionString="server=10.1.56.213;database=PPTS_MetaData_Dev;User ID=msuser;Password=xueda123$" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>-->

      <!--云端配置-->
      <add name="PPTS_Customer" connectionString="server=tcp:pxov8krwm9.database.chinacloudapi.cn,1433;database=PPTS.Data.Customer.Local.Test.DB;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
      <add name="PPTS_MetaData" connectionString="server=tcp:pxov8krwm9.database.chinacloudapi.cn,1433;database=PPTS.Data.MetaData.Local.Test.DB;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
      <add name="HB2008" connectionString="server=tcp:pxov8krwm9.database.chinacloudapi.cn,1433;database=IT_Workflow_Dev_Test;User ID=msuser;Password=xueda123$;enlist=false" commandTimeout="00:00:30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <dataProviders>
      <add name="Oracle.DataAccess.Client" type="MCS.Library.Data.ODP.OracleDatabase, MCS.Library.Data.ODP" />
      <add name="System.Data.OracleClient" type="MCS.Library.Data.Oracle.OracleDatabase, MCS.Library.Data" />
      <add name="System.Data.SqlClient" type="MCS.Library.Data.SqlServer.SqlDatabase, MCS.Library.Data" />
    </dataProviders>
  </connectionManager>
  <oguObjectSettings>
    <objects>
      <add name="hq" fullPath="zhangxiaoyan_2@xueda.com" pathType="LogOnName"/>
    </objects>
  </oguObjectSettings>
  <oguPermissionSettings rootOUPath="机构人员" roleRelatedUserParentDept="true">
    <!--<oguPermissionSettings rootOUPath="">-->
    <paths>
      <!--机构人员访问的Service地址，按实际情况修改-->

      <add name="oguServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/OGUReaderService.asmx" />
      <!--授权管理访问的Service地址，按实际情况修改 -->
      <add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/AppSecurityCheckService.asmx" />
    </paths>
    <!--获取顶级部门映射-->
    <topOUMapping level="4">
    </topOUMapping>
    <typeFactories>
      <!--实现机构人员操作的工厂类-->
      <add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
      <!--实现授权操作的工厂类-->
      <add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
    </typeFactories>
  </oguPermissionSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
