<uriSettings>
  <groups>
    <add name="wfPlatformService">
      <urls>
        <add name="txProcessService" uri="http://localhost/MCSWebApp/WfPlatformServices/Services/TxProcessService.svc" />
        <add name="taskRedirector" uri="/PPTSWebApp/PPTS.Portal/redirector.aspx" />
      </urls>
    </add>
    <add name="pptsWebAPIs">
      <urls>
	      <add name="mcsApiBaseUrl" uri="http://localhost/MCSWebApp/MCS.Web.API/" />
        <add name="workflowApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Common/" />
        <add name="mcsComponentBaseUrl" uri="http://localhost/MCSWebApp/MCS.Web.Component/" />
		    <add name="pptsComponentBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.Web.Component/" />
		    <add name="pptsApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Common/" />
        <add name="customerApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Customers/" />
        <add name="orderApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Orders/" />
        <add name="productApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Products/" />
      </urls>
    </add>
    <add name="pptsServices">
      <urls>
        <add name="customerQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/CustomerQueryService.svc"/>
        <add name="customerUpdateService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/CustomerUpdateService.svc"/>
        <add name="accountQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/AccountQueryService.svc"/>
        <add name="accountTransactionService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/AccountTransactionService.svc"/>
        <add name="customerScopeAuthorizationService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/CustomerScopeAuthorizationService.svc"/>

        <add name="productQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/ProductQueryService.svc"/>
        <add name="configruleQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/ConfigRuleQueryService.svc"/>

        <add name="assetQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Orders/Services/AssetQueryService.svc"/>
        <add name="courseQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Orders/Services/CourseQueryService.svc"/>
        <add name="orderTransactionService" uri="http://localhost/PPTSWebApp/PPTS.Services.Orders/Services/OrderTransactionService.svc"/>
        <add name="orderScopeAuthorizationService" uri="http://localhost/PPTSWebApp/PPTS.Services.Orders/Services/OrderScopeAuthorizationService.svc"/>

        <add name="customerSearchUpdateService" uri="http://localhost/PPTSWebApp/PPTS.Services.Search/Services/CustomerSearchUpdateService.svc"/>
        <add name="customerWorkflowService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/WorkflowService.svc" />

	<add name="smsService" uri="http://localhost/PPTSWebApp/PPTS.Services.Common/Services/SMSService.svc"/>
	<add name="classService" uri="http://localhost/PPTSWebApp/PPTS.Services.Orders/Services/ClassService.svc"/>
      </urls>
    </add>
  </groups>
</uriSettings>
