<uriSettings>
  <groups>
    <add name="pptsWebAPI">
      <urls>
        <add name="componentBaseUrl" uri="/MCSWebApp/MCS.Web.Component/" />
        <add name="customerApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Customers/" />
        <add name="orderApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Orders/" />
        <add name="productApiBaseUrl" uri="http://localhost/PPTSWebApp/PPTS.WebAPI.Products/" />
      </urls>
    </add>
    <add name="pptsServices">
      <urls>
        <add name="customerQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/CustomerQueryService.svc"/>
        <add name="accountQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/AccountQueryService.svc"/>

        <add name="productQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/ProductQueryService.svc"/>
        <add name="configruleQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/ConfigRuleQueryService.svc"/>
	
	<add name="assetQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Orders/Services/AssetQueryService.svc"/>
	<add name="courseQueryService" uri="http://localhost/PPTSWebApp/PPTS.Services.Orders/Services/CourseQueryService.svc"/>

      </urls>
    </add>
  </groups>
</uriSettings>