<wfServiceDefinitionSettings>
  <addresses>
    <add name="customerWorkflowService" uri="http://localhost/PPTSWebApp/PPTS.Services.Customers/Services/WorkflowService.svc" requestMethod="Post" contentType="Json" />
    <add name="productWorkflowService" uri="http://localhost/PPTSWebApp/PPTS.Services.Products/Services/WorkflowService.svc" requestMethod="Post" contentType="Json" />
    <add name="orderWorkflowService" uri="http://localhost/PPTSWebApp/PPTS.Services.Orders/Services/WorkflowService.svc" requestMethod="Post" contentType="Json" />
  </addresses>
  <operations>
    <add name="thawProcessCancelling" operationName="ThawProcessCancelling" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CustomerID" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="thawProcessCompleting" operationName="ThawProcessCompleting" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CustomerID" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="accountRefundProcessCancelling" operationName="AccountRefundProcessCancelling" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="accountRefundProcessCompleting" operationName="AccountRefundProcessCompleting" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="accountTransferProcessCancelling" operationName="AccountTransferProcessCancelling" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="accountTransferProcessCompleting" operationName="AccountTransferProcessCompleting" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="studentTransferProcessCancelling" operationName="StudentTransferProcessCancelling" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="studentTransferProcessCompleting" operationName="StudentTransferProcessCompleting" addressKey="customerWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>


    <add name="discountProcessCancelling" operationName="DiscountProcessCancelling" addressKey="productWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="discountProcessCompleting" operationName="DiscountProcessCompleting" addressKey="productWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="presentProcessCancelling" operationName="PresentProcessCancelling" addressKey="productWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="presentProcessCompleting" operationName="PresentProcessCompleting" addressKey="productWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>

    <add name="submitOrderProcessCompleting" operationName="SubmitOrderProcessCompleting" addressKey="orderWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="submitOrderProcessCancelling" operationName="SubmitOrderProcessCancelling" addressKey="orderWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>


    <add name="debookOrderProcessCompleting" operationName="DebookOrderProcessCompleting" addressKey="orderWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="debookOrderProcessCancelling" operationName="DebookOrderProcessCancelling" addressKey="orderWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>


    <add name="addProductProcessCompleting" operationName="AddProductProcessCompleting" addressKey="productWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>
    <add name="addProductProcessCancelling" operationName="AddProductProcessCancelling" addressKey="productWorkflowService" returnParamName="">
      <parameters>
        <add name="CurrentResourceID" type="RuntimeParameter" />
        <add name="CurrentUserID" type="RuntimeParameter" />
        <add name="CurrentUserName" type="RuntimeParameter" />
      </parameters>
    </add>

  </operations>
</wfServiceDefinitionSettings>
