<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="timeZoneContextSettings" type="MCS.Library.Configuration.TimeZoneContextSettings, MCS.Library" />
  </configSections>
  <timeZoneContextSettings enabled="true" timeOffset="08:00:00" timePointKind="Utc" />
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config" />
    <add key="LeyuUrl" value="http://localhost/PPTSWebApp/PPTS.ExtServices.LeYu/Services/SaveLeYuInfo.ashx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>