<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold"><i class="ace-icon fa fa-plus"></i> 新增潜客</span>
            <span class="caption-helper">(<span class="required"> * </span>表示必填字段)</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal" role="form" action="#" novalidate>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <mcs-button category="save" click="vm.save()"></mcs-button>
                        <mcs-button category="add" text="添加已有家长" click="vm.parentAdd('查看现有家长，勾选查询结果，确认亲属关系')"></mcs-button>
                        <mcs-button icon="recycle" text="清空家长信息" click="vm.reset()"></mcs-button>
                        <mcs-button category="cancel" text="返回潜客列表" click="$state.go('ppts.customer')"></mcs-button>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <h4 class="form-section"><i class="ace-icon fa fa-th"></i> 家长信息</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label required="true" text="家长姓名" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.parent.parentName" css="col-md-12" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <ppts-select category="idtype" model="vm.parent.idType" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.parent.idNumber" css="col-md-12" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="家长性别" css="col-md-3" />
                            <div class="col-md-9">
                                <ppts-radiobutton-group category="gender" model="vm.parent.gender" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="家庭年总收入" css="col-md-3" />
                            <div class="col-md-9 mcs-padding-0">
                                <ppts-select category="income" model="vm.parent.income" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="亲属关系" css="col-md-3" />
                            <div class="col-md-9">
                                <div class="customer-relation-container">
                                    <div class="col-md-12 mcs-padding-0 mcs-margin-bottom-2">
                                        <div class="col-md-4 mcs-padding-0"><input class="mcs-readonly-input" ng-model="vm.customer.customerName" onkeydown="return false;" style="width:88%;background:none;" />是</div>
                                        <div class="col-md-4 mcs-padding-0"><input class="mcs-readonly-input" ng-model="vm.parent.parentName" onkeydown="return false;" style="width:88%;background:none;" />的</div>
                                        <div class="col-md-4 mcs-padding-0"><ppts-select data="vm.customerRoles" model="vm.customerRole" callback="selectCustomerRole(item, model)" css="mcs-padding-0" caption="子女关系" /></div>
                                    </div>
                                    <div class="col-sm-12 mcs-padding-0">
                                        <div class="col-md-4 mcs-padding-0"><input class="mcs-readonly-input" ng-model="vm.parent.parentName" onkeydown="return false;" style="width:88%;background:none;" />是</div>
                                        <div class="col-md-4 mcs-padding-0"><input class="mcs-readonly-input" ng-model="vm.customer.customerName" onkeydown="return false;" style="width:88%;background:none;" />的</div>
                                        <div class="col-md-4 mcs-padding-0"><ppts-select data="vm.parentRoles" model="vm.parentRole" disabled="!(vm.parent.gender && vm.customer.gender && vm.customerRole && vm.parentRoles.length > 1)" css="mcs-padding-0" caption="家属关系" /></div>
                                    </div>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="现住址" css="col-md-3" />
                            <div class="col-md-9">
                                <ppts-region province="vm.parent.province" city="vm.parent.city" district="vm.parent.county" street="vm.parent.streetName" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="家长Email" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.parent.email" css="col-md-12" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="联系电话" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.parent.primaryPhone.phoneNumber" css="col-sm-6 mcs-input-width-50 mcs-margin-right-10" placeholder="主要联系电话" />
                                <mcs-input model="vm.parent.secondaryPhone.phoneNumber" css="col-sm-6 mcs-input-width-50 mcs-margin-right-0 pull-right" placeholder="辅助联系电话" />
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-section"><i class="ace-icon fa fa-th"></i> 学员信息</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label required="true" text="学员姓名" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.customer.customerName" css="col-md-12" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="入学大年级" css="col-md-3" />
                            <div class="col-md-9 mcs-padding-0">
                                <ppts-select category="grade" model="vm.customer.entranceGrade" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="学员性别" css="col-md-3" />
                            <div class="col-md-9">
                                <ppts-radiobutton-group category="gender" model="vm.customer.gender" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="文理科" css="col-md-3" />
                            <div class="col-md-9">
                                <ppts-radiobutton-group category="subjectType" model="vm.customer.subjectType" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label required="true" text="接触方式" css="col-md-3" />
                            <div class="col-md-9 mcs-padding-0">
                                <ppts-select category="contactType" model="vm.customer.contactType" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="当前所在学校" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.customer.customerName" css="col-md-12" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label required="true" text="信息来源" css="col-md-3" />
                            <div class="col-md-9" uib-tooltip="注意：信息来源保存后无法修改，请正确填写">
                                <ppts-source main="vm.customer.sourceMainType" sub="vm.customer.sourceSubType" required-level="1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="height:40px">
                            <mcs-label text="学员出生日期" css="col-md-3" />
                            <div class="col-md-9">
                                <ppts-datepicker model="vm.customer.birthday" css="col-md-12" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="转介绍" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.customer.referralStaffName" placeholder="员工OA" css="col-md-12" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <ppts-select category="idtype" model="vm.customer.idType" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.customer.idNumber" css="col-md-12" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="岗位名称" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.customer.jobName" css="col-md-12" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="vip客户" css="col-md-3" />
                            <div class="col-md-9">
                                <ppts-radiobutton-group category="vipType" model="vm.customer.vipType" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="转介绍学员编号" css="col-md-3" />
                            <div class="col-md-7">
                                <mcs-input model="vm.customer.referralCustomerCode" ng-blur="vm.getCustomerByCode(vm.customer.referralCustomerCode)" css="col-md-12" uib-tooltip="注意：转介绍填写后无法修改，请正确填写" />
                            </div>
                            <div class="col-md-2 mcs-padding-0">
                                <mcs-label text="{{vm.customer.referralCustomerName}}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="vip等级" css="col-md-3" />
                            <div class="col-md-9 mcs-padding-0">
                                <ppts-select category="vipLevel" model="vm.customer.vipLevel" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="是否复读" css="col-md-3" />
                            <div class="col-md-9">
                                <ppts-radiobutton-group category="ifElse" model="vm.customer.isStudyAgain" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <mcs-label text="联系电话" css="col-md-3" />
                            <div class="col-md-9">
                                <mcs-input model="vm.customer.primaryPhone.phoneNumber" css="col-sm-6 mcs-input-width-50 mcs-margin-right-10" placeholder="主要联系电话" />
                                <mcs-input model="vm.customer.secondaryPhone.phoneNumber" css="col-sm-6 mcs-input-width-50 mcs-margin-right-0 pull-right" placeholder="辅助联系电话" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>