<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="wfServiceContractMapSettings" type="MCS.Library.WcfExtensions.Configuration.WfServiceContractMapSettings, MCS.Library.WcfExtensions"/>
    <section name="serviceSettings" type="MCS.Library.Services.Configuration.ServiceSettings, MCS.Library"/>
  </configSections>
  <wfServiceContractMapSettings>
    <maps>
      <add serviceName="PPTS.Services.Customers.Services.AccountQueryService" contractName="PPTS.Contracts.Customers.Operations.IAccountQueryService" debug="true" atlasEnabled="true"/>
      <add serviceName="PPTS.Services.Customers.Services.CustomerQueryService" contractName="PPTS.Contracts.Customers.Operations.ICustomerQueryService" debug="true" atlasEnabled="true"/>
      <add serviceName="PPTS.Services.Customers.Services.AccountTransactionService" contractName="PPTS.Contracts.Customers.Operations.IAccountTransactionService" debug="true" atlasEnabled="true"/>
      <add serviceName="PPTS.Services.Customers.Services.CustomerUpdateService" contractName="PPTS.Contracts.Customers.Operations.ICustomerUpdateService" debug="true" atlasEnabled="true"/>
    </maps>
  </wfServiceContractMapSettings>
  <serviceSettings>
    <methodDefaultSettings name="defaultSettings" cacheEnabled="false" enableLogging="true"/>
    <services>
      <!--<add name="ICustomerQueryService">
        <methods>
          -->
      <!--<add name="GetObjectsDetail" cacheEnabled="true" />-->
      <!--
        </methods>
      </add>-->
    </services>
  </serviceSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  
</configuration>