<div class="input-daterange datepicker input-group mcs-input-group input-xxlarge mcs-padding-left-15 {{css}}" ng-class="{'large':size=='lg'}" ng-style="dateStyle">
    <input class="form-control date-picker" date-type ng-model="startDate" name="start" type="text" placeholder="{{startText}}" onkeydown="return false;" style="text-align:left;">
    <span class="input-group-addon">
        <i class="fa fa-calendar bigger-110"></i>
    </span>
    <span class="input-group-addon" style="border-left:1px solid #d5d5d5">
        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
    </span>
    <input class="form-control date-picker" date-type ng-model="endDate" name="end" type="text" placeholder="{{endText}}" onkeydown="return false;" style="text-align:left;">
    <span class="input-group-addon" style="border-right:1px solid #d5d5d5">
        <i class="fa fa-calendar bigger-110"></i>
    </span>
</div>