<form class="form-horizontal" novalidate>
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="clearfix form-actions mcs-form-actions" style="margin-bottom:15px">
                <div class="col-md-offset-3 col-md-9">
                    <mcs-button type="submit" category="save" click="vm.addCustomerreplies()"></mcs-button>
                    <mcs-button category="cancel" click="vm.cancel()"></mcs-button>
                </div>
            </div>
        </div>
        <div class="form-control">
            <div class="col-md-1">被访学员:</div>
            <div class="col-md-5">{{vm.parentName}}</div>


            <div class="col-md-1">学员家长:</div>
            <div class="col-md-5">{{vm.customerName}}</div>
        </div>
        <div class="tabbable">
            <ul class="nav nav-tabs padding-2 tab-color-blue background-blue padding-top-2" id="myTab4">
                <li class="active">
                    <a data-toggle="tab" href="#weekFeedback">周反馈</a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#replyParent">回复家长</a>
                </li>
            </ul>

            <div class="tab-content padding-4">
                <div id="weekFeedback" class="tab-pane active">
                    <textarea class="form-control" placeholder="请输入内容...." rows="5" id="textArea"
                              ng-model="vm.weekFeedback" maxlength="500" required></textarea>
                    <span class="span-memo pull-right">
                        最多输入500字,您还能输入<span style="color:red">{{vm.weekFeedbackMemo}}</span>
                        字!
                    </span>
                </div>

                <div id="replyParent" class="tab-pane">
                    <textarea class="form-control" placeholder="请输入内容...." rows="5" id="textArea"
                              ng-model="vm.replyParent" maxlength="500" required></textarea>
                    <span class="span-memo pull-right">
                        最多输入500字,您还能输入<span style="color:red">{{vm.replyParentMemo}}</span>
                        字!
                    </span>
                </div>
                
            </div>
        </div>
        
        
    </div>
</form>
