<div class="row">
    <a ng-if="$index==0" class="btn btn-link col-sm-10" style="text-align:right" ng-click="model.addItem()"> <i class="fa fa-plus" aria-hidden="true"></i> 添加对象与内容</a>
    <a ng-if="$index>0" class="btn btn-link col-sm-10" style="text-align:right" ng-click="model.removeItem(row.id)">
        <i class="fa fa-minus" aria-hidden="true"></i> 删除对象与内容
    </a>
</div>
<div class="row">
    <div class="form-group horizontal">
        <mcs-label class="col-sm-3" required="true" text="参会对象" />
        <mcs-select category="participants_{{row.id}}" class="col-sm-4" model="row.objectType" ignore-async="true" required />
        <mcs-input model="row.objectName" css="col-sm-4 inline-mcs-datepicker input-height-36" placeholder="输入姓名" required />
    </div>
</div>
<div class="row">
    <div class="form-group horizontal">
        <mcs-label class="col-sm-3" required="true" text="会议内容" />
        <mcs-select category="contentType_{{row.id}}" class="col-sm-4" model="row.contentType" ignore-async="true" required />
        <div class="col-sm-4"></div>
    </div>
</div>
<div class="row">
    <div class="form-group horizontal">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-8" style="padding-left:28px">
            <textarea class="col-sm-10 " placeholder="请输入家长反馈内容或解决方案...." rows="5" id="textArea" ng-model="row.contentData" maxlength="3000" required></textarea>
            <span class="span-memo" style="padding-left:440px">
                最多输入3000字,您还能输入<span style="color:red">{{row.message}}</span> 字!
            </span>
        </div>
    </div>
</div>

