<!-- #开始：位置条 -->
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
    try {
        ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {}
    </script>
    <ul class="breadcrumb">
        <li class="active">
            <i class="ace-icon fa fa-home home-icon"></i> 首页
        </li>
        <li class="active">
            <i class="ace-icon fa fa-buttons"></i> 单选列表框
        </li>
    </ul>
</div>
<!-- /结束：位置条 -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">应用范例</h3>
                    <div>
                        Student:
                        <mcs-radiobutton-group data="vm.dictionaries.genders" model="vm.parent.gender" />
                        <hr />
                        <p>已选中: {{vm.parent.gender}}</p>
                        Parent:
                        <mcs-radiobutton-group data="vm.dictionaries.genders" model="vm.customer.gender" />
                        <hr />
                        <p>已选中: {{vm.customer.gender}}</p>
                    </div>
                </div>
                <div class="laycode col-sm-12">
                    <h3 class="header smaller lighter green">示例代码</h3>
                    <div class="code_box code_skin0">
                        <span class="code_title">Html及Javascript</span>
                        <pre class="codes">
                        <code><b>Html</b></code><br />
                        &lt;mcs-radiobutton-group data="vm.dictionaries.genders" model="vm.parent.gender" /&gt;
                        <code><b>Javascript</b></code><br />
                        angular.module('app.component').controller('MCSRadiobuttonGroupController', ['$scope', function ($scope) {
                            var vm = this;
                            vm.parent = {
                                gender: 'G1'
                            };
                            vm.customer = {
                                gender: 'G2'
                            };
                            vm.dictionaries = {
                                genders: [{
                                    key: 'G1',
                                    value: '男'
                                }, {
                                    key: 'G2',
                                    value: '女'
                                }, {
                                    key: 'G3',
                                    value: '未知'
                                }]
                            };
                             // 一般情况下选完之后不会做其他事，适用于联动响应的情况
                            $scope.$watch('vm.parent.gender', function () {
                                alert('我选中了' + vm.parent.gender + '，但是我还想干点别的，来这里吧。');
                            });
                        }
                        </pre>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">参数说明</h3>
                    <table class="table table-striped table-bordered table-hover" id="sample-table-1">
                        <thead>
                            <tr>
                                <th>属性</th>
                                <th style="width:600px;">用途</th>
                                <th>范围</th>
                                <th>默认值</th>
                                <th>示例</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>data</code></td>
                                <td>设置复选框数据源, 必须为数组结构且包含{key,value}的形式</td>
                                <td>无</td>
                                <td>无</td>
                                <td>&lt;mcs-radiobutton-group data="vm.dictionaries.genders" /&gt;</td>
                            </tr>
                            <tr>
                                <td><code>model</code></td>
                                <td>设置需要绑定的字段</td>
                                <td>无</td>
                                <td>无</td>
                                <td>&lt;mcs-radiobutton-group data="vm.dictionaries.genders" model="vm.parent.gender"/&gt;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>