<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="timeZoneContextSettings" type="MCS.Library.Configuration.TimeZoneContextSettings, MCS.Library"/>
    <section name="connectionManager" type="MCS.Library.Data.Configuration.ConnectionManagerConfigurationSection, MCS.Library.Data" />
    <section name="oguPermissionSettings" type="MCS.Library.OGUPermission.OguPermissionSettings, MCS.Library.OGUPermission" />
    <section name="oguObjectSettings" type="MCS.Library.SOA.DataObjects.OguObjectSettings, MCS.Library.SOA.DataObjects"/>
    <section name="jsonDotNetConvertersSettings" type="MCS.Web.MVC.Library.Configuration.JsonDotNetConvertersSettings, MCS.Web.MVC.Library"/>
  </configSections>
  <timeZoneContextSettings enabled="true" timeOffset="08:00:00" timePointKind="Utc" />
  <jsonDotNetConvertersSettings>
    <converters>
      <add name="dataTimeConverter" type="MCS.Web.MVC.Library.Converters.JavascriptUpwardDatetimeConverter, MCS.Web.MVC.Library" />
      <add name="oguObjectConverter" type="MCS.Web.MVC.Library.Converters.JavascriptOguObjectConverter, MCS.Web.MVC.Library" />
      <add name="invalidConverter" type="MCS.Web.MVC.Library.Converters.InvalidConverter, MCS.Web.MVC.Library" />
    </converters>
  </jsonDotNetConvertersSettings>
  <oguObjectSettings>
    <objects>
      <add name="hq" fullPath="zhangxiaoyan_2" pathType="LogOnName"/>
    </objects>
  </oguObjectSettings>
  <oguPermissionSettings rootOUPath="机构人员" roleRelatedUserParentDept="true">
    <!--<oguPermissionSettings rootOUPath="">-->
    <paths>
      <!--机构人员访问的Service地址，按实际情况修改-->
      <add name="oguServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/OGUReaderService.asmx" />
      <!--授权管理访问的Service地址，按实际情况修改 -->
      <add name="appAdminServiceAddress" uri="http://localhost/MCSWebApp/PermissionCenterServices/services/AppSecurityCheckService.asmx" />
    </paths>
    <!--获取顶级部门映射-->
    <topOUMapping level="4">
    </topOUMapping>
    <typeFactories>
      <!--实现机构人员操作的工厂类-->
      <add name="oguFactory" type="MCS.Library.OGUPermission.OguAdminMechanism, MCS.Library.OGUPermission"/>
      <!--实现授权操作的工厂类-->
      <add name="permissionFactory" type="MCS.Library.OGUPermission.AppAdminMechanism, MCS.Library.OGUPermission"/>
    </typeFactories>
  </oguPermissionSettings>
</configuration>