<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oguObjectSettings" type="MCS.Library.SOA.DataObjects.OguObjectSettings, MCS.Library.SOA.DataObjects"/>
    <section name="connectionNameMappingSettings" type="MCS.Library.Data.Configuration.ConnectionNameMappingSettings, MCS.Library.Data"/>
  </configSections>
  <oguObjectSettings>
    <objects>
      <add name="hq" fullPath="zhangxiaoyan_2" pathType="LogOnName"/>
    </objects>
  </oguObjectSettings>
  <appSettings>
    <add key="MCS.MetaConfiguration" value="%MCS2016ConfigDir%\MCS.ConfigMapping.config" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
