<!-- #开始：位置条 -->
<style>
.max-button {
    width: 200px;
    height: 100px;
    background-color: #660e0b;
}
</style>
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
    try {
        ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {}
    </script>
    <ul class="breadcrumb">
        <li class="active">
            <i class="ace-icon fa fa-home home-icon"></i> 首页
        </li>
        <li class="active">
            <i class="ace-icon fa fa-buttons"></i> 上传控件
        </li>
    </ul>
</div>
<!-- /结束：位置条 -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">应用范例</h3>
                    <div id="usage">
                        <h4>带附件的表单提交</h4>
                        <label>姓名:</label>
                        <input type="text" ng-model="vm.userInfo.userName" name="userName">
                        <label>年龄：</label>
                        <input type="text" ng-model="vm.userInfo.userAge" name="userAge">
                        <div files-upload model="vm.userInfo.files" pattern="{size: {max: '5MB'},pattern: 'image/*'}" readonly="false" resource-Id="123-124-222-123" files-amount="5" module-name="liucy" download-url="http://localhost/MCSWebApp/MCS.Web.API/api/sample/DownloadMaterial" url="http://localhost/MCSWebApp/MCS.Web.API/api/sample/UploadMaterial">
                        </div>
                        <hr>
                        <input type="submit" ng-click="vm.submit()">
                    </div>
                </div>
                <div class="laycode col-sm-12">
                    <h3 class="header smaller lighter green">示例代码</h3>
                    <div class="code_box code_skin0">
                    </div>
                </div>
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">参数说明</h3>
                    <table class="table table-striped table-bordered table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
