<form ng-app="fileUpload" name="form">
    <table>
        <tr>
            <td>
                <input type="file" ngf-max-size="50MB" ngf-select ngf-multiple="true" ngf-max-files="5" ng-model="vm.files" name="files" ngf-validate="{size: {max: '20MB'},pattern: 'image/*'}" required>
            </td>
            <td>
                <i ng-show="form.files.$error.pattern">只能选择图片文件，且最多5个</i>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li ng-repeat="f in vm.files">
                        <span>{{f.name}}</span>
                    </li>
                </ul>
            </td>
            <td>
                <div ng-repeat="f in vm.files">
                    <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"  
            ng-bind="f.progress + '%'"></div>
      </span>
                    <span>{{f.result}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <button ng-disabled="!form.$valid" ng-click="vm.uploadFiles(vm.files)">上 传</button>
            </td>
        </tr>
    </table>
</form>
